<div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="型号" [(ngModel)]="vm.model">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="容积" [(ngModel)]="vm.volume">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="数量" [(ngModel)]="vm.num"  type="number" min="0">
    </md-input-container>
</div>
<div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="满载重量" [(ngModel)]="vm.totalWeight">
    </md-input-container>
</div>