<div class="nav">
  <span style="padding-left:20px;"><i class="fa fa-home"></i>&nbsp;首页</span>
  <span>/</span>
  <span>视频和论坛文件</span>
</div>
<md-card>
     <md-select placeholder="类型" style="width:300px;" [(ngModel)]="selType">
        <md-option *ngFor="let t of types" [value]="t.id">
            {{t.name}}
        </md-option>
    </md-select>
    <button md-raised-button color='primary' style="height:35px;" (click)="queryFile()">查询</button>
    <button md-raised-button color='primary' style="height:35px;" (click)="resetFile()">重置</button>
</md-card>
<md-card>
  <div class="row-section">
      <a routerLink="/admin/adminfile/add" class="row-margin" md-raised-button color='primary'>增加</a>
  </div>
  <ngx-datatable class="material" [rows]="files" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
    <ngx-datatable-column name="文件名" [width]="300" prop="title">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.title}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="时间" [width]="300" prop="time">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.time}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="操作" [width]="300">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <a md-mini-fab color="primary" mdTooltip="查看详情" routerLink="/admin/adminfile/1/view/{{row.id}}">
                <md-icon>search</md-icon>
            </a>
            <a md-mini-fab color="primary" mdTooltip="编辑" routerLink="/admin/adminfile/edit/{{row.id}}">
                <md-icon>edit</md-icon>
            </a>
            <a md-mini-fab color="warn" mdTooltip="删除" (click)="delete(row.id)">
                <md-icon>delete</md-icon>
            </a>
        </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>
</md-card>