<div ng-controller="viewjieduanCtrl">
    <div class="myTabContent" style="margin-left: 10px;">
        <div  class="">
            <ul style="list-style: none;">
                <li style="margin-top:10px;">{{"helicopter"|translate}}</li>
                <li style="margin-top:10px;">{{"phasesseven"|translate}}</li>
                <li class="active" style="margin-top:10px;">{{"starttimeseven"|translate}}</li>
                <li class="active" style="margin-top:10px;">{{"endtimezero"|translate}}</li>
            </ul>
            <div style="margin: 10px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="text-align: center;">{{"formname"|translate}}</th>
                            <th style="text-align: center;">{{"fillin"|translate}}</th>
                            <th style="text-align: center;">{{"fillintime"|translate}}</th>
                            <th style="text-align: center;">{{"operation"|translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <td style="text-align: center;">{{"accidentreport"|translate}}</td>
                            <td style="text-align: center;">{{"liming"|translate}}</td>
                            <td style="text-align: center;">{{"Januaryfirst"|translate}}</td>
                            <td style="text-align: center;"><button>{{"view"|translate}}</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>