:host{
    width: calc(100% - 245px);
}
.header{
    height: 50px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.userinfo{
    padding: 20px;
    background:rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.userinfo>p{
margin-top: 10px;
color: #999;
}
.userinfo>p>span{
    color:rgba(0, 0, 0, 0.65);
}
.service-box{
    flex-wrap:wrap;
    padding:10px 0 0 20px;
    /* margin: 0 auto; */
    background:rgba(0, 0, 0, 0.05);
}
.itembox{
    height: 90px;
    align-items: center;
    margin-bottom: 10px;
    /* width: 33%; */
    /* background:rgba(0, 0, 0, 0.05); */
    background: #fff;
}
.itembox img{
    height: 80px;
    width: 20%;
}
.itembox>div{
    width: 50%;
}
.itembox>div h4{
    font-weight: 600;
}
.itembox>div span{
    font-size: 12px;
}
.itembox>p{
    height: 70px;
    line-height: 70px;
    width: 30%;
    border-left: 1px solid #eee;
    text-align: center;
    padding-left: 10px;
  margin: 10px 10px;
  color:  #1890ff;
}
.item-add{
    text-align: center;
    line-height: 80px;
    font-size: 20px;
}
.item-add :hover{
    font-size: 22px;
}
.itembox span{
    display: block;
}