<h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a>{{"homepage"|translate}}</a>
        </li>
        <li class="active">
            <span>{{"hazardsource"|translate}}</span>
        </li>
        <li class="active">
            <span>{{"hazardrisk"|translate}}</span>
        </li>
        <li class="active">
            <span>{{"HiddenGov"|translate}}</span>
        </li>
    </ul>
</h3>
<div class="container-fluid">
    <div class="row-fluid">
        <div>
            <input class="form-control"   placeholder="在以下信息中搜索">
        </div>
        <div class="panel panel-primary" style="margin-top: 10px;">
            <div class="panel-body" style="height:100%;overflow:auto">
                <div class="table-responsive" style="text-align: center;">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th style="text-align: center;"><input type="checkbox"></th>
                                <th style="text-align: center;">{{"num"|translate}}</th>
                                <th style="text-align: center;">{{"inyear"|translate}}</th>
                                <th style="text-align: center;">{{"total"|translate}}</th>
                                <th style="text-align: center;">{{"havedeal"|translate}}</th>
                                <th style="text-align: center;">{{"beprocess"|translate}}</th>
                                <th style="text-align: center;">{{"nodeal"|translate}}</th>
                                <th style="text-align: center;">{{"rectification"|translate}}</th>
                                <th style="text-align: center;">{{"needcoordinate"|translate}}</th>
                                <th style="text-align: center;">{{"operation"|translate}}</th>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>伊拉克</td>
                                <td>117</td>
                                <td>80</td>
                                <td>27</td>
                                <td>10</td>
                                <td>60%</td>
                                <td>12</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" title={{"detail"|translate}}>
                                        <em class="fa icon-magnifier"></em>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>2</td>
                                <td>尼日利亚</td>
                                <td>154</td>
                                <td>128</td>
                                <td>22</td>
                                <td>4</td>
                                <td>60%</td>
                                <td>7</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" title={{"detail"|translate}}>
                                        <em class="fa icon-magnifier"></em>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>3</td>
                                <td>印尼</td>
                                <td>342</td>
                                <td>289</td>
                                <td>33</td>
                                <td>20</td>
                                <td>60%</td>
                                <td>18</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" title={{"detail"|translate}}>
                                        <em class="fa icon-magnifier"></em>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>4</td>
                                <td>乌干达</td>
                                <td>163</td>
                                <td>144</td>
                                <td>8</td>
                                <td>11</td>
                                <td>60%</td>
                                <td>2</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" title={{"detail"|translate}}>
                                        <em class="fa icon-magnifier"></em>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
