<h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a>{{"homepage"|translate}}</a>
        </li>
        <li class="active">
            <span>{{"hazardsource"|translate}}</span>
        </li>
        <li class="active">
            <span>{{"StatisticAnalysis"|translate}}</span>
        </li>
    </ul>
</h3>
<div class="container-fluid" style="overflow: hidden;">
    <div class="row-fluid">
        <div style="margin-top: 10px;">
            <input class="form-control"   placeholder="在以下信息中搜索">
        </div>
        <div class="panel panel-primary" style="margin-top: 5px;">
            <div class="panel-body" style="height:100%;overflow:auto">
                <div style="text-align: center;"><h3>{{"nocorrective"|translate}}</h3></div>
                <div class="table-responsive" style="text-align: center;margin-top: 5px;">
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr>
                            <th rowspan="2" style="text-align: center;vertical-align: middle;">{{"unitname"|translate}}</th>
                            <th colspan="4" style="text-align: center;">{{"monthsituation"|translate}}</th>
                            <th colspan="3" style="text-align: center;">{{"objectstatus"|translate}}</th>
                            <th colspan="2" style="text-align: center;">{{"personstatus"|translate}}</th>
                            <th colspan="2" style="text-align: center;">{{"defect"|translate}}</th>
                            <th style="text-align: center;"></th>
                            <th style="text-align: center;">Ⅰ</th>
                            <th style="text-align: center;">Ⅱ</th>
                            <th style="text-align: center;">Ⅲ</th>
                            <th style="text-align: center;">Ⅳ</th>
                        </tr>
                        <tr>
                            <th style="text-align: center;">{{"monthreport"|translate}}</th>
                            <th style="text-align: center;">{{"hasrectification"|translate}}</th>
                            <th style="text-align: center;">{{"hasmethod"|translate}}</th>
                            <th style="text-align: center;">{{"nomethod"|translate}}</th>
                            <th style="text-align: center;">{{"hasmethodone"|translate}}</th>
                            <th style="text-align: center;">{{"hasmethodtwo"|translate}}</th>
                            <th style="text-align: center;">{{"hasmethodthree"|translate}}</th>
                            <th style="text-align: center;">{{"hasmethodtwo"|translate}}</th>
                            <th style="text-align: center;">{{"hasmethodthree"|translate}}</th>
                            <th style="text-align: center;">{{"hasmethodtwo"|translate}}</th>
                            <th style="text-align: center;">{{"hasmethodthree"|translate}}</th>
                            <th style="text-align: center;">{{"total"|translate}}</th>
                            <th style="text-align: center;">Ⅰ{{"levelhidden"|translate}}</th>
                            <th style="text-align: center;">Ⅱ{{"levelhidden"|translate}}</th>
                            <th style="text-align: center;">Ⅲ{{"levelhidden"|translate}}</th>
                            <th style="text-align: center;">Ⅳ{{"levelhidden"|translate}}</th>
                        </tr>
                        <tr>
                            <td>中国海洋石油东南亚有限公司</td>
                            <td>6</td>
                            <td>6</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>中海石油伊拉克有限公司</td>
                            <td>2</td>
                            <td>2</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>中海石油乌干达公司</td>
                            <td>29</td>
                            <td>29</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>布里达斯合资公司</td>
                            <td>18</td>
                            <td>18</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>国际公司柬埔寨分公司</td>
                            <td>9</td>
                            <td>9</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-left: 280px;">
                    <img src="app/img/weizhenggai.png">
                </div>
            </div>
        </div>
    </div>
</div>
