.box,
.boxyin,
.warnbox,
.forecastbox {
  width: 100%;
  height: 100%;
  font-family: 'PingFangSC-Light', sans-serif;
  font-weight: lighter;
}
.slide-zoom {
    height: 100%;
}

.box {
  background: url('../assets/imgs/sunny.jpg') no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

.boxyin {
  background: url('../assets/imgs/yin.jpg') no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

.m_title {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 28px;
}

.m_title span {
  top: 0;
  right: 0;
  position: fixed;
  padding-right: 15px;
}

.m_title p {
  height: 15px;
  line-height: 15px;
  margin-top: -30px;
  font-size: 13px;
  color: #bbdffe;
}

.m_con {
  width: 100%;
  overflow: hidden;
  margin-top: 2%;
}

.m_temp {
  float: left;
  width: 50%;
  font-size: 100px;
}

.m_temp div {
  display: inline;
}

.m_temp .temp_unit {
  font-size: 40px;
  width: 10%;
  position: fixed;
  padding-top: 30px;
}

.m_situation {
  float: right;
  width: 46%;
  text-align: left;
  padding-top: 30px;
}

.m_situation p {
  height: 25px;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.m_other {
  padding-top: 10px;
  width: 100%;
  // height: 30px;
  line-height: 30px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.m_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

.m_other ul {
  list-style: disc;
  margin: 0;
  width: 67%;
  margin: 0 auto;
}

.m_other ul li {
  float: left;
  width: 50%;
  text-indent: -5px;
}

.m_other ul li:first-child {
  width: 40%;
  padding-right: 10%;
}

.m_updatetime {
  position: fixed;
  bottom: 0;
}

.m_updatetime ul li {
  text-indent: -5px;
}
