<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="padding:10px;">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="padding:10px;height:56px;">
        <label>城市</label>
      <mat-form-field style="width:100px;">
        <mat-select [(ngModel)]="selCity" (change)="changeCity()">
          <mat-option *ngFor="let city of cityList" [value]="city">{{city}}</mat-option>
        </mat-select>
      </mat-form-field>
      <label>站名</label>
      <mat-form-field style="width:100px;">
        <mat-select [(ngModel)]="selStation">
          <mat-option *ngFor="let stn of stationList" [value]="stn.Station_Id_C">{{stn.Station_Name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <label>起始</label>
      <mat-form-field style="width:80px;">
        <input matInput [(ngModel)]="sDate" mode="month" [dpDayPicker]="minuteConfig" theme="dp-material" attachTo=".mat-input-wrapper">
      </mat-form-field>
      <label>终止</label>
      <mat-form-field style="width:80px;">
        <input matInput [(ngModel)]="eDate" mode="month" [dpDayPicker]="minuteConfig" theme="dp-material" attachTo=".mat-input-wrapper">
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="queryTen()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <mat-card style="width:1300px;">
      <mat-card-title>
        <mat-toolbar class="card-toolbar">
          <mat-icon color="primary">star</mat-icon>
          <span>查询要素</span>
        </mat-toolbar>
        <mat-divider></mat-divider>
      </mat-card-title>
      <div class="card-content factors" style="padding:10px;">
        <li *ngFor="let element of elements" style="width:300px;">
          <mat-checkbox [(ngModel)]="element.checked" (change)="initGrid()">{{element.label}}</mat-checkbox>
        </li>
      </div>
    </mat-card>
    <mat-card style="width:1300px;">
      <mat-card-title>
        <mat-toolbar class="card-toolbar">
          <mat-icon color="primary">star</mat-icon>
          <span>结果列表</span>
        </mat-toolbar>
        <mat-divider></mat-divider>
      </mat-card-title>
      <ag-grid-angular #monGrid enableSorting (gridReady)="initGrid()" style="width: 100%; height: 400px;" class="ag-theme-blue">
      </ag-grid-angular>
    </mat-card>
  </div>