<div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="数量" [(ngModel)]="vm.gunnum" type="number" min="0">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="最大射距" [(ngModel)]="vm.targetDistance">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="喷洒速度" [(ngModel)]="vm.pensaSpeed">
    </md-input-container>
</div>
