<nz-layout style="height:100%">
  <nz-content style="margin:0 0px; height:100%">
      <div id="viewDiv"></div>
  </nz-content>
  <div class="searchbox" [hidden]="tab">
    <div >
      <nz-radio-group [(ngModel)]="radioValue">
          <label nz-radio [nzValue]="'A'">
            <span>R</span>
          </label>
          <label nz-radio [nzValue]="'B'">
            <span>▲p3h</span>
          </label>
          <label nz-radio [nzValue]="'C'">
            <span>Tg</span>
          </label>
          <label nz-radio [nzValue]="'D'">
            <span>Td</span>
          </label>
          <label nz-radio [nzValue]="'D'">
              <span>W</span>
            </label>
        </nz-radio-group>
    </div>
    <div>
      <md2-datepicker name="mindate" placeholder="起始时间" [(ngModel)]="mindate"  format="y-MM-dd HH:mm" type="datetime"></md2-datepicker>
      <md2-datepicker name="maxdate" placeholder="结束时间" [(ngModel)]="maxdate"  format="y-MM-dd HH:mm" type="datetime"></md2-datepicker>
      <button type="button" button="primary" (click)="querry()" class="btn">查询</button>
    <!-- <p> Value: {{ mindate }} </p> -->
    </div>
      
    
  </div>
  <div class="tabswitch" [hidden]="tabout">
      <i class="anticon anticon-shrink"  (click)="tab=true;tabout=true;"></i>
  </div>
  <div class="tabswitch" [hidden]="!tabout" >
      <i class="anticon anticon-arrows-alt"  (click)="tab=false;tabout=false"></i>
  </div>
 
  <div class="infobox" [hidden]="tab" >
    <md-card >
      <ngx-datatable [rows]="infos" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
        <ngx-datatable-column name="站点" [width]="300" prop="id">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.id}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="时间" [width]="300" prop="id">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.id}}
          </ng-template>
        </ngx-datatable-column>
         <ngx-datatable-column name="降雨量" [width]="300" prop="name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.name}}
          </ng-template>
        </ngx-datatable-column>
         <ngx-datatable-column name="风向" [width]="300" prop="name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.weather}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="风速" [width]="300" prop="weather">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.weather}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="最高温度" [width]="300" prop="weather">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.weather}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="湿度" [width]="300" prop="weather">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.weather}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </md-card>
  
  </div>
</nz-layout>
