@import url('http://120.26.44.171:5558/esri/css/esri.css');


#viewDiv{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.tabswitch{
    width:40px;height:40px;color:#404040;;position:absolute;z-index:10000;bottom:46px;font-size:20px;
}
.tabswitch:hover{
    color: rgb(16, 108, 200);
    /* visibility: hidden; */
}
.timechoice div{
    display: inline-block;
}
.timechoice .secondtime {
    margin: 0 60px 0 40px;
    padding-right:30px; 
    
}
.searchbox{
    width:560px;
    height:140px;
    background:rgba(152,192,152,1.0);
    position:absolute;
    top:134px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.ant-radio-group{
    margin: 20px 20px;
}
.ant-radio-wrapper {
    font-size: 17px;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    margin-right: 45px;
    cursor: pointer;
  }
.searchbox .btn{
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 16px;
    margin: 6px 8px;
    min-width: 88px;
    line-height: 36px;
    border-radius: 3px;
    background: rgb(16, 108, 200);
}

.infobox{
    width:560px;
    /* height:400px; */
    /* background:rgba(152,192,152,0.8); */
    position:absolute;
    bottom:60px;
    color:#555;
}

