<div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="数量" [(ngModel)]="vm.num" type="number" min="0">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="长度" [(ngModel)]="vm.length">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="存放方式" [(ngModel)]="vm.saveway">
    </md-input-container>
</div>