<ul class="breadcrumb">
  <li>应急资源</li>
  <li>
    <a routerLink="/resource/material">应急物资</a>
  </li>
  <li class="active">
    {{type?'查看':(goodsId?"编辑":"新增")}}
  </li>
</ul>
<md-card style="margin:0px;" class="pad">
  <md-card-title>{{type?'查看':(goodsId?"编辑":"新增")}}应急物资</md-card-title>
  <form #mForm="ngForm" (ngSubmit)="onSubmit()">
    <md2-accordion [multiple]="true">
      <md2-accordion-tab header="基本信息" active="true">
        <div class="row-section">
          <md-input-container style="width:260px;" class="row-margin">
            <input mdInput placeholder="物资名称" required [(ngModel)]="vm.name" name="name" [readonly]="type">
          </md-input-container>
          <button type="button" (click)="searchMType()" md-mini-fab class="row-margin" color="primary"><md-icon>search</md-icon></button>

          <md-select placeholder="现场任务类型" [(ngModel)]="vm.category" style="width:300px;" class="row-margin" name="cateex">
            <md-option *ngFor="let e of catesEx" [value]="e.id">
              {{e.name}}
            </md-option>
          </md-select>
        </div>
        <div class="row-section">
          <md-select placeholder="应急保障类别(大类)" style="width:300px;" class="row-margin" name="bigtype" [(ngModel)]="vm.bigtype" (change)="cate1Change(false)">
            <md-option *ngFor="let c of cates" [value]="c.id">
              {{c.name}}
            </md-option>
          </md-select>
          <md-select placeholder="现场任务类型(中类)" style="width:300px;" class="row-margin" name="middletype" [(ngModel)]="vm.middletype"
            (change)="cate2Change(false)">
            <md-option *ngFor="let c of cates1" [value]="c.id">
              {{c.name}}
            </md-option>
          </md-select>
          <md-select placeholder="主要作业方式或物资功能(小类)" style="width:300px;" name="smalltype" class="row-margin" [(ngModel)]="vm.smalltype">
            <md-option *ngFor="let c of cates2" [value]="c.id">
              {{c.name}}
            </md-option>
          </md-select>
        </div>
        <div class="row-section">
          <md-input-container style="width:260px;" class="row-margin">
            <input mdInput placeholder="所属应急队伍" required readonly [value]="selGroup?selGroup.name:'无'" name="emergroup" [readonly]="type">
          </md-input-container>
          <button type="button" (click)="searchGroup()" md-mini-fab class="row-margin" color="primary"><md-icon>search</md-icon></button>
          <md-input-container style="width:260px;" class="row-margin">
            <input mdInput placeholder="所属单位" required readonly [value]="selOrg?selOrg.name:'无'" name="depart" [readonly]="type">
          </md-input-container>
          <button type="button" (click)="searchOrg()" md-mini-fab class="row-margin" color="primary"><md-icon>search</md-icon></button>
        </div>
        <div class="row-section">
          <md-checkbox class="row-margin" [(ngModel)]="selStorage" name="selStor">存储库</md-checkbox>
          <md-select class="row-margin" rqueired *ngIf="selStorage" placeholder="存储库" style="width:205px;" [(ngModel)]="vm.storage"
            name="storage">
            <md-option *ngFor="let c of storages" [value]="c.id">{{c.name}}
            </md-option>
          </md-select>
          <md-input-container style="width:205px;" class="row-margin" *ngIf="!selStorage">
            <input mdInput placeholder="经度" required [(ngModel)]="vm.longitude" name="longitude" [readonly]="type">
          </md-input-container>
          <md-input-container style="width:300px;" class="row-margin" *ngIf="!selStorage">
            <input mdInput placeholder="纬度" required [(ngModel)]="vm.latitude" name="latitude" [readonly]="type">
          </md-input-container>
        </div>
        <div class="row-section">
          <md-input-container style="width:300px;" class="row-margin">
            <input mdInput placeholder="资产编号" name="assetNum" [(ngModel)]="vm.assetNum" [readonly]="type">
          </md-input-container>
          <md-select placeholder="物资状态" style="width:300px;" class="row-margin" [(ngModel)]="vm.goodStatus" name="status">
            <md-option value="0">正常
            </md-option>
            <md-option value="1">维检
            </md-option>
            <md-option value="2">报废
            </md-option>
            <md-option value="3">使用中
            </md-option>
          </md-select>
          <md-input-container style="width:300px;" class="row-margin">
            <input mdInput placeholder="生产厂商" [(ngModel)]="vm.manufacturer" name="manufacturer" [readonly]="type">
          </md-input-container>
        </div>
        <div class="row-section">
          <md-input-container style="width:300px;" class="row-margin">
            <input mdInput placeholder="出厂时间" type="date" [(ngModel)]="vm.startTime" name="startTime" [readonly]="type">
          </md-input-container>
          <md-input-container style="width:300px;" class="row-margin">
            <input mdInput placeholder="购买日期" type="date" [(ngModel)]="vm.buyTime" name="buyTime" [readonly]="type">
          </md-input-container>
          <md-input-container style="width:300px;" class="row-margin">
            <input mdInput placeholder="维护周期（天）" type="number" [(ngModel)]="vm.repairTime" name="repairTime" [readonly]="type">
          </md-input-container>
        </div>
        <div class="row-section">
          <md-input-container style="width:300px;" class="row-margin">
            <input mdInput placeholder="更新时间" type="date" [(ngModel)]="vm.updateTime" name="updateTime" [readonly]="type">
          </md-input-container>
          <md-input-container style="width:300px;" class="row-margin">
            <input mdInput placeholder="负责人" [(ngModel)]="vm.charge" name="charge" [readonly]="type">
          </md-input-container>
          <md-input-container style="width:300px;" class="row-margin">
            <input mdInput placeholder="办公电话" [(ngModel)]="vm.telphone" name="tel" [readonly]="type">
          </md-input-container>
        </div>
        <div class="row-section">
          <md-input-container style="width:300px;" class="row-margin">
            <input mdInput placeholder="手机" [(ngModel)]="vm.phone" name="phone" [readonly]="type">
          </md-input-container>
          <md-input-container style="width:300px;" class="row-margin">
            <input mdInput placeholder="传真" [(ngModel)]="vm.fax" name="fax" [readonly]="type">
          </md-input-container>
        </div>
      </md2-accordion-tab>
      <md2-accordion-tab header="特征信息">
        <div class="row-section">
          <md-select placeholder="类别" [disabled]="goodsId" style="width:300px;" class="row-margin" [(ngModel)]="vm.type" name="mt">
            <md-option *ngFor="let t of goodstypes" [value]="t.id">
              {{t.typename}}
            </md-option>
          </md-select>
        </div>
        <app-plane *ngIf="vm.type==1" [pId]="vm.featureid"></app-plane>
        <app-ship *ngIf="vm.type ==2" [pId]="vm.featureid"></app-ship>
        <app-car *ngIf="vm.type ==3" [pId]="vm.featureid"></app-car>
        <app-weiyou *ngIf="vm.type==4" [pId]="vm.featureid"></app-weiyou>
        <app-dongli *ngIf="vm.type==5" [pId]="vm.featureid"></app-dongli>
        <app-pieoil *ngIf="vm.type ==6" [pId]="vm.featureid"></app-pieoil>
        <app-workboat *ngIf="vm.type==7" [pId]="vm.featureid"></app-workboat>
        <app-saveoil *ngIf="vm.type==8" [pId]="vm.featureid"></app-saveoil>
        <app-equip *ngIf="vm.type==9" [pId]="vm.featureid"></app-equip>
        <app-gun *ngIf="vm.type==10" [pId]="vm.featureid"></app-gun>
        <app-net *ngIf="vm.type==11" [pId]="vm.featureid"></app-net>
        <app-xiaooil *ngIf="vm.type==12" [pId]="vm.featureid"></app-xiaooil>
        <app-others *ngIf="vm.type==13" [pId]="vm.featureid"></app-others>
      </md2-accordion-tab>
      <md2-accordion-tab header="附件">
        <ngx-datatable class="material" [rows]="files" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
          [limit]="5">
          <ngx-datatable-column name="文件名称" prop="Name"></ngx-datatable-column>
          <ngx-datatable-column name="上传时间" prop="Time"></ngx-datatable-column>
          <ngx-datatable-column name="操作">
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <a md-mini-fab color="primary" mdTooltip="下载" href="/fs/{{value.ExName}}">
                <md-icon>search</md-icon>
              </a>
              <a md-mini-fab color="warn" mdTooltip="删除" *ngIf="!type" (click)="deleteUpFile(value.ExName)">
                <md-icon>delete</md-icon>
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <br>
        <p-fileUpload name="uploadfiles" url="/upload/file" multiple="multiple" chooseLabel="选择文件" uploadLabel='全部上传' cancelLabel='全部取消'
          (onUpload)="onBasicUpload($event)" *ngIf="!type"></p-fileUpload>
      </md2-accordion-tab>
    </md2-accordion>
    <md-card-actions>
      <div class="centerText">
        <button md-raised-button color="accent" type="reset" *ngIf="!type">重置</button>
        <a routerLink="/resource/material" md-raised-button color="warn">取消</a>
        <button md-raised-button color="primary" type="submit" [disabled]="!mForm.valid" *ngIf="!type">提交</button>
      </div>
    </md-card-actions>
  </form>
</md-card>