<ul class="breadcrumb">
  <li class="active">应急专家</li>
</ul>
<div style="padding:20px;" fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space center">
    <mat-form-field>
      <mat-select placeholder="专家类别" [(ngModel)]="selLevel">
        <mat-option *ngFor="let t of planLevels" [value]="t.id">
          {{ t.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="性别" [(ngModel)]="selType">
        <mat-option *ngFor="let t of planTypes" [value]="t.id">
          {{ t.typename}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color='primary' style="height:35px;">查询</button>
    <button mat-raised-button color='primary' style="height:35px;">重置</button>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="20px">
      <button mat-raised-button color='primary' routerLink="/home/addprofessor">增加</button>
      <button mat-raised-button color='primary'>导入</button>
      <button mat-raised-button color='primary'>导出</button>
      <button mat-raised-button color='primary'>模版</button>
    </div>
    <mat-form-field style="width:300px">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="查询">
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>序号 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 专家姓名 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="professionType">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 专家类别 </mat-header-cell>
        <mat-cell *matCellDef="let element"> 溢油专家 </mat-cell>
      </ng-container>
      <ng-container matColumnDef="depart">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 所属公司</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.depart}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 办公地点</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 固定电话</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="desc">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 备注 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.desc}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> 操作 </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div style="width:130px;">
            <a mat-mini-fab color="primary" matTooltip="查看详情" routerLink="/1/professor/{{row.id}}">
              <mat-icon>search</mat-icon>
            </a>
            <a mat-mini-fab color="primary" matTooltip="编辑" routerLink="/professor/edit/{{row.id}}">
              <mat-icon>edit</mat-icon>
            </a>
            <a mat-mini-fab color="warn" matTooltip="删除" (click)="delete(row.id)">
              <mat-icon>delete</mat-icon>
            </a>
            <!-- <button mat-raised-button color='primary' routerLink="/plan/add">增加</button> -->
          </div>
        </mat-cell>

      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div [style.display]="dataSource.data.length == 0 ? '' : 'none'" style="text-align: center">
      <h3>无数据显示.</h3>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>
</div>
