
.controls {
	height:auto;
	overflow:hidden;
	padding:0;
    width:100%;
    margin:0px;
	background:url(images/bg-controls.png);
}
.btn-on {
	background:url(images/sprite.png) no-repeat -230px -5px;
	width:35px;
	height:39px;
	overflow:hidden;
	text-indent:-9999px;
	float:left;
	margin:0 0 0 7px;
}
.profile-box {
    float:right;
    padding: 10px;
}
.profile-box .profile {
	float:left;
	border:1px solid #dde2e8;
	background:#fff;
	-webkit-border-radius: 1px 1px 0 0;
	-moz-border-radius: 1px 1px 0 0;
	border-radius: 1px 1px 0 0;
	height:37px;
}
.profile-box .profile .image {
	float:left;
	margin:1px 12px 0 0;
}
.profile-box a {text-decoration:none;}
.profile-box .text-box {
	float:left;
	overflow:hidden;
	color:#a0a0a0;
	font-size:10px;
	line-height:12px;
}
.profile-box .section {
	padding:4px 33px 0 7px;
	float:left;
}
.profile-box a.section {cursor:pointer;}
.profile-box .name {
	display:block;
	font-size:12px;
	line-height:15px;
	color:#4f5f6f;
	font-weight:normal;
}
.profile-box .opener {
	float:left;
	background:url(images/sprite.png) no-repeat -39px -58px;
	width:32px;
	height:37px;
	overflow:hidden;
	text-indent:-9999px;
	border-left:1px solid #dde2e8;
}
