 <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="牌照号码"  [(ngModel)]="vm.license">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="初次登记日期" type="date" [(ngModel)]="vm.resignTime">
    </md-input-container>
</div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="表征里程(万公里)" [(ngModel)]="vm.mile">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="品牌名称" [(ngModel)]="vm.brand">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="品牌类型" [(ngModel)]="vm.type">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="车身颜色" [(ngModel)]="vm.color">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="年检证明" [(ngModel)]="vm.year">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="养路费交付证明" [(ngModel)]="vm.load">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="车船使用税完税证明" [(ngModel)]="vm.tax">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="交强险" [(ngModel)]="vm.insurance">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="使用性质" [(ngModel)]="vm.nature">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="其他法定凭证、证明" [(ngModel)]="vm.notes">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="燃料" [(ngModel)]="vm.fuel">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="排量/缸径" [(ngModel)]="vm.pailiang">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="缸数" [(ngModel)]="vm.gangnum">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="发动机功率" [(ngModel)]="vm.power">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="排放标准" [(ngModel)]="vm.standard">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="变速器形式" [(ngModel)]="vm.form">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="气囊" [(ngModel)]="vm.airbag">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="驱动方式" [(ngModel)]="vm.driveway">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="ABS" [(ngModel)]="vm.dbs">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="车辆状况描述" [(ngModel)]="vm.des">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="质量保证" [(ngModel)]="vm.quality">
    </md-input-container>
  </div>
