.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    flex-direction: column;
    -ms-flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.header-wrapper{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    padding: 0 16px;
    background: #2866a2;
    color: #fff;
    white-space: nowrap;
    min-height: 64px;
}
.header-log{            
    font-size: 24px;
    font-weight: 500;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.header-title{
    padding-left: 16px;
    flex: 1 1 auto;
}

.body-wrapper{
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    flex-direction: row;
    -ms-flex-direction: row;
}

.pane-wrapper{
    width: 300px;
    border-right: 1px solid silver;
    background: #222d32;
}

.canvas-wrapper{
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    flex-direction: column;
    -ms-flex-direction: column;
    position: relative;
}

.foot-wrapper{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    flex-direction: row;
    -ms-flex-direction: row;
    min-height: 30px;
    align-items: center;
    padding: 0 16px;
    background: #333;
    color: rgba(255,255,255,.87);
    padding-left:300px; 
}

.foot-wrapper-left{
    flex: 1 1 auto;
}