<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="padding:10px;height:56px;">
    <label>起始</label>
    <dx-date-box [(ngModel)]="sDate" type="date" displayFormat="y-MM-dd" style="width:165px;">
    </dx-date-box>
    <label>终止</label>
    <dx-date-box [(ngModel)]="eDate" type="date" displayFormat="y-MM-dd" style="width:165px;">
    </dx-date-box>
    <dx-button icon="search" type="default" (click)="query()">
    </dx-button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="borderP">
    <dx-data-grid #tGrid [hoverStateEnabled]="true" [dataSource]="dayGridDatas" style="height:300px;width:900px;">
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-selection mode="single"></dxo-selection>
      <dxo-scrolling showScrollbar="always" [scrollByContent]="true"></dxo-scrolling>
      <dxi-column dataField="day.Station_Name" caption="站名" [width]="100"></dxi-column>
      <dxi-column dataField="day.Datetime" caption="日期" dataType="date" sortOrder="desc" [width]="100"></dxi-column>
      <dxi-column dataField="day.PRE_Time_2020" caption="20-20时降水量" dataType="number" [width]="130"></dxi-column>
      <dxi-column dataField="day.PRE_Time_0808" caption="08-08时降水量" dataType="number" [width]="130"></dxi-column>
      <dxi-column dataField="day.PRE_Max_1h" caption="1小时最大降水量" dataType="number" [width]="150"></dxi-column>
      <dxi-column dataField="dayMMUT.PRE_Time_2020_MMUT" caption="累年20-20时平均降水量" dataType="number" [width]="130"></dxi-column>
      <dxi-column dataField="dayMMUT.PRE_Time_0808_MMUT" caption="累年08-08时平均降水量" dataType="number" [width]="130"></dxi-column>
    </dx-data-grid>
  </div>
  <dx-chart [dataSource]="chartDatas" style="width:900px;">
    <dxo-export [enabled]="true"></dxo-export>
    <dxo-legend verticalAlignment="top" horizontalAlignment="center" itemTextPosition="right">
    </dxo-legend>
    <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
    </dxo-tooltip>
    <dxi-series argumentField="Datetime" valueField="PRE_Time_2020" name="20-20时降水量" type="bar">
    </dxi-series>
  </dx-chart>
</div>
