<md-toolbar color="primary">
  <span>临潼气象服务后台管理平台</span>
  <div class="spacer">
    <a md-button routerLink='/weather/hour'>小时数据查询</a>
    <a md-button routerLink='/weather/minutes'>分钟数据查询</a>
    <a md-button routerLink='/weather/history'>历史数据查询</a>
  </div>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>person</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="logout()">
      <span>用户登出</span>
    </button>
    <a md-menu-item href="http://www.lintongqx.com/">
      <span>返回首页</span>
    </a>
  </md-menu>
</md-toolbar>
<router-outlet></router-outlet>