<h3>
    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a ui-sref="app.ics_eventindex">应急事件管理</a></li>
        <li class="active">会议纪要</li>
    </ol>
</h3>
<div class="row" style="margin: 10px; overflow: hidden;">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <button type="button"  class="btn btn-info">关闭</button>
        <button type="button"  class="btn btn-success">保存</button>
        <div class="panel panel-default" style="text-align: center;margin-top: 10px;">
            <div class="panel-heading" style="text-align: center;">ECS 231（会议纪要）</div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table  table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td>事故名称</td>
                            <td colspan="1";><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td>事故编号</td>
                            <td colspan="1";><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td>作业周期</td>
                            <td colspan="2";>
                                <input type="date" style="border: 0;width: 45%;height: 100%;">
                                <input type="date" style="border: 0;width: 45%;height: 100%;">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">会议信息</td>
                        </tr>
                        <tr>
                            <td colspan="2">会议名称</td>
                            <td colspan="5"><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">会议日期/事件</td>
                            <td colspan="5"><input type="data" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">会议地点</td>
                            <td colspan="5"><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">会议主持人</td>
                            <td colspan="5"><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="7">目的和参与人员</td>
                        </tr>
                        <tr style="height: 50px;">
                            <td colspan="1" style="line-height: 50px;">目的</td>
                            <td colspan="6"  style="line-height: 50px;"><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr style="height: 50px;">
                            <td colspan="1" style="line-height: 50px;">参与人员</td>
                            <td colspan="6" style="line-height: 50px;"><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="7">会议议程/会议记录</td>
                        </tr>
                        <tr style="height: 50px;">
                            <td colspan="7" style="line-height: 50px;"><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td>编制姓名</td>
                            <td colspan="1"><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td>编制岗位/职位</td>
                            <td colspan="1"><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td>签名</td>
                            <td colspan="2"><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <!--<td colspan='5'; style="vertical-align: middle;" ><input type="text" style="border: 0;width: 100%;height: 100%;"></td>-->
                        </tr>
                        <tr style="height: 60px;">
                            <td style="line-height: 60px;" colspan="4">{{"ecs"|translate}} 231 会议纪要</td>
                            <td style="line-height: 60px;" colspan="1">时间/日期</td>
                            <td style="line-height: 60px;" colspan='2';><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
