<div class="container-fluid" ng-controller="eventinfoexlistCtrl">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <button type="button"  class="btn btn-danger" ng-click="add()">添加</button>
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-heading">
                    <span>任务表</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover" style="margin-top: 10px;">
                            <thead>
                            <tr>
                                <th style="width: 5%;" ></th>
                                <th  style="width:30%">任务名称</th>
                                <th  style="width:30%">描述</th>
                                <th  style="width:30%">注意事项</th>
                            </tr>
                            </thead>
                            <tbody style="text-align: left;">
                            <tr ng-repeat="rr in items">
                                <td>
                                    <label>
                                        <input  type="checkbox" style="margin-top:0px;">
                                    </label>
                                </td>
                                <td>{{rr.name}}</td>
                                <td>{{rr.description}}</td>
                                <td>{{rr.notice}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>