<h3>
    <ol class="breadcrumb">
        <li><a href="#">{{"homepage"|translate}}</a></li>
        <li><a  ui-sref="app.ics_eventindex">{{"emergencymanagement"|translate}}</a></li>
        <li class="active">{{"resopnseaim"|translate}}</li>
    </ol>
</h3>
<style>
.editable-checklist label {
display: block;
}
</style>
<div class="row" style="margin: 10px; overflow: hidden;" ng-controller="ics202Ctrl">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading" style="text-align: center;">ECS {{"resopnseaim"|translate}}<em class="icon icon-microphone"></em></div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table  table-bordered table-hover">
                        <tbody>
                        <tr>
                            <th style="text-align: center;" >{{"incidentname"|translate}}</th>
                            <td>{{event.name}}</td>
                            <th style="text-align: center;" >{{"incidentnumber"|translate}}</th>
                            <td><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <th style="text-align: center;" >{{"operational"|translate}}</th>
                            <td >
                                <input type="datetime-local" style="border: 0;width: 100%;height: 100%;" ng-model="starttime">
                            </td>
                            <td >
                                <input type="datetime-local" style="border: 0;width: 100%;height: 100%;" ng-model="endtime">
                            </td>
                        </tr>
                        <tr>
                            <th colspan="7" style="text-align: center;">{{"objectives"|translate}}</th>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align: center;">
                                <textarea  style="border: 0;width: 100%;height: 100%;" ng-model="vm.data.target"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-repeat="tb in vm.data.content">
                        <table class="table table-bordered table-hover">
                            <tr style="font-weight: bold">
                                <td style="width:50%"></td>
                                <td style="width:20%">{{"personcharge"|translate}}</td>
                                <td style="width:20%">{{"status"|translate}}</td>
                                <td style="width:10%">{{"operation"|translate}}</td>
                            </tr>
                            <tr style="font-weight: bold">
                                <td style="width:35%">
                                    <span editable-text="tb.name" e-name="goal1" e-form="rowform1">{{ tb.name}}</span>
                                </td>
                                <td style="width:20%"></td>
                                <td style="width:20%"></td>
                                <td style="white-space: nowrap;width:20%">
                                <!-- form-->
                                <form editable-form="" name="rowform1" ng-show="rowform1.$visible" class="form-buttons form-inline">
                                    <button type="submit" ng-disabled="rowform1.$waiting" title="Save"
                                            class="btn btn-sm btn-info">
                                        <em class="fa fa-save"></em>
                                    </button>
                                    <button type="button" ng-disabled="rowform1.$waiting"
                                            ng-click="rowform1.$cancel()" title="Cancel"
                                            class="btn btn-sm btn-default">
                                        <em class="fa fa-times"></em>
                                    </button>
                                </form>
                                <div ng-show="!rowform1.$visible" class="buttons">
                                    <button ng-click="rowform1.$show()" title="Edit" class="btn btn-sm btn-info">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                </div>
                            </td>
                            </tr>
                            <tr ng-repeat="user in tb.data">
                                <td>
                                    <span editable-checkbox="user.checked" e-name="goal" e-form="rowform"
                                          onbeforesave="table.checkName($data, user.id)"><input type="checkbox" ng-model="user.checked"></span>
                                    <!-- editable username (text with validation)-->
                                    <span editable-text="user.name" e-name="goal" e-form="rowform"
                                          onbeforesave="table.checkName($data, user.id)">{{ user.name || &apos;empty&apos; }}</span>
                                </td>
                                <td>
                                    <!-- editable status (select-local)-->
                                    <span editable-select="user.person" e-name="security"
                                          e-form="rowform" e-ng-options="s.name for s in personlist">{{user.person.name }}</span>
                                    <!-- <a href="#" editable-checklist="user.person" e-ng-options="s.roleid as s.name for s in personlist">
                                        {{ showStatus(tb.id, user.name) }}
                                    </a> -->
                                </td>
                                <td>
                                    <!-- editable group (select-remote)-->
                                    <span editable-select="user.status" e-name="security"
                                          e-form="rowform" e-ng-options="s for s in statuslist">{{user.status }}</span>
                                </td>
                                <td style="white-space: nowrap">
                                    <!-- form-->
                                    <form editable-form="" name="rowform" onbeforesave="table.saveUser($data, user.id)"
                                          ng-show="rowform.$visible" shown="table.inserted == user"
                                          class="form-buttons form-inline">
                                        <button type="submit" ng-disabled="rowform.$waiting" title="Save"
                                                class="btn btn-sm btn-info">
                                            <em class="fa fa-save"></em>
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting"
                                                ng-click="rowform.$cancel()" title="Cancel"
                                                class="btn btn-sm btn-default">
                                            <em class="fa fa-times"></em>
                                        </button>
                                    </form>
                                    <div ng-show="!rowform.$visible" class="buttons">
                                        <button ng-click="rowform.$show()" title="Edit" class="btn btn-sm btn-info">
                                            <em class="fa fa-pencil"></em>
                                        </button>
                                        <button ng-click="removeitem(tb.data,$index)" title="Delete"
                                                class="btn btn-sm btn-danger">
                                            <em class="fa fa-trash"></em>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <button ng-click="additem(tb)" class="btn btn-success" type="button">{{"addoption"|translate}}</button>
                    </div>
                    <button ng-click="addparam(vm.data.content)" class="btn btn-primary mt-sm" type="button">{{"addchapter"|translate}}</button>
                    <table class="table  table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td>{{"preparedby"|translate}}：</td>
                            <td>{{"preparename"|translate}}</td>
                            <td><input type="text" style="border: 0;width: 100%;height: 100%;" ng-model="vm.data.user"></td>
                            <td>{{"prepareposition"|translate}}</td>
                            <td><input type="text" style="border: 0;width: 100%;height: 100%;" ng-model="vm.data.role"></td>
                            <td>{{"preparesign"|translate}}</td>
                            <td><input type="text" style="border: 0;width: 100%;height: 100%;" ng-model="vm.data.sign"></td>
                            <!--<td colspan='5'; style="vertical-align: middle;" ><input type="text" style="border: 0;width: 100%;height: 100%;"></td>-->
                        </tr>
                        <tr style="height: 60px;">
                            <td style="line-height: 60px;" colspan="4">{{"ecs"|translate}} {{"resopnseaim"|translate}}</td>
                            <td style="line-height: 60px;" >{{"datetime"|translate}}</td>
                            <td style="line-height: 60px;" colspan='2';><input type="datetime-local" style="border: 0;width: 100%;height: 100%;" ng-model="dt"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-md-offset-5 col-lg-offset-5" style="margin-top: 15px;">
                    <button type="button" class="mb-sm btn btn-danger" ng-click="submit()">{{"submit"|translate}}</button>
                    <button type="button" class="mb-sm btn btn-info" ng-click="cancel()">{{"cancel"|translate}}</button>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
