<h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a ui-sref="app.securitysystem">
                {{"emergencysystem"|translate}}
            </a>
        </li>
        <li>
            <span>{{"eventmanagement"|translate}}</span>
        </li>
        <li>
            <span>{{"weathers"|translate}}</span>
        </li>
    </ul>
</h3>
<div class="row" style="margin: 10px; overflow: hidden;" ng-controller="ics2016Ctl">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center;">ECS 201-6（{{"weathers"|translate}}）</div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table  table-striped table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td>{{"incidentname"|translate}}</td>
                            <td><input  type="text" style="border: 0;width: 100%;height: 100%;" ng-model="event.name"></td>
                            <td>{{"incidentnumber"|translate}}</td>
                            <td><input type="text" style="border: 0;width: 100%;height: 100%;"  ></td>
                            <td>{{"operationalperiod"|translate}}</td>
                            <td colspan="2">
                                {{"datefrom"|translate}}：
                                <input type="datetime-local" style="border: 0;width: 35%;height: 95%;" ng-model="starttime" >
                                {{"dateto"|translate}}：
                                <input type="datetime-local" style="border: 0;width:35%;height: 95%;" ng-model="endtime" >
                            </td>
                        </tr>
                        <tr style="text-align: center">
                            <td colspan="6">{{"weathers"|translate}}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle;text-align: center;" rowspan="3">{{"now"|translate}}</td>
                            <td >
                                {{"windspeed"|translate}}：
                            </td>
                            <td >
                                <input type="text" style="border:0;" ng-model="vm.data.curweather.wind">
                            </td>
                            <td >
                                {{"airtemmax"|translate}}：
                            </td>
                            <td colspan="2">
                                <input type="text" style="border:0;" ng-model="vm.data.curweather.maxtemp">
                            </td>
                        </tr>
                        <tr>
                            <td >
                                {{"waveheight"|translate}}：
                            </td>
                            <td >
                                <input type="text" style="border:0;"  ng-model="vm.data.curweather.weatherwave">
                            </td>
                            <td >
                                {{"currentspeed"|translate}}：
                            </td>
                            <td colspan="2">
                                <input type="text" style="border:0;" ng-model="vm.data.curweather.weathersea">
                            </td>
                        </tr>
                        <tr>
                            <td >
                                {{"watertem"|translate}}：
                            </td>
                            <td >
                                <input type="text" style="border:0;" ng-model="vm.data.curweather.weatherwater">
                            </td>
                            <td >
                                {{"note"|translate}}：
                            </td>
                            <td colspan="2">
                                <input type="text" style="border:0;" ng-model="vm.data.curweather.weatherothers">
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3"  style="vertical-align: middle;text-align: center;">{{"forecast"|translate}}</td>
                            <td></td>
                            <td>{{"24hour"|translate}}</td>
                            <td>{{"36hour"|translate}}</td>
                            <td>{{"48hour"|translate}}</td>
                            <td>{{"72hour"|translate}}</td>
                        </tr>
                        <tr>
                            <td >
                                <ul style="list-style: none;">
                                    <li> {{"windspeed"|translate}}：</li>
                                    <li style="margin-top:10px;">{{"airtemmax"|translate}}：</li>
                                    <li style="margin-top:10px;">{{"waveheight"|translate}}：</li>
                                    <li style="margin-top:10px;">{{"currentspeed"|translate}}：</li>
                                    <li style="margin-top:10px;">{{"watertem"|translate}}：</li>
                                </ul>
                            </td>
                            <td >
                                <ul style="list-style: none;">
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[0].wind"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[0].maxtemp"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[0].weatherwave"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[0].weathersea"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[0].weatherwater"></li>
                                </ul>
                            </td>
                            <td >
                                <ul style="list-style: none;">
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[1].wind"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[1].maxtemp"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[1].weatherwave"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[1].weathersea"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[1].weatherwater"></li>
                                </ul>
                            </td>
                            <td >
                                <ul style="list-style: none;">
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[2].wind"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[2].maxtemp"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[2].weatherwave"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[2].weathersea"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[2].weatherwater"></li>
                                </ul>
                            </td>
                            <td >
                                <ul style="list-style: none;">
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[3].wind"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[3].maxtemp"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[3].weatherwave"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[3].weathersea"></li>
                                    <li style="margin-top:10px;"><input type="text" style="border:0;" ng-model="vm.data.weathers.days[3].weatherwater"></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{"currentvisibility"|translate}}</td>
                            <td><input type="text" style="border:0;" ng-model="vm.data.pre.currlook"></td>
                            <td></td>
                            <td style="text-align: center;">{{"forecastvisibility"|translate}}</td>
                            <td><input type="text" style="border:0;"  ng-model="vm.data.pre.prelook"></td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle;text-align: center;">{{"todaytide"|translate}}</td>
                            <td colspan="5">
                                <ul style="list-style: none;">
                                    <li>{{"Location"|translate}}</li>
                                    <li style="margin-top:10px;">{{"highs"|translate}}：<input type="text" style="border:0;" ng-model="vm.data.today.todayhigh">
                                         <span style="margin-left: 25%;">{{"lows"|translate}}：<input type="text" style="border:0;" ng-model="vm.data.today.todaylow"></span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle;text-align: center;">{{"tomorrowtide"|translate}}</td>
                            <td colspan="5">
                                <ul style="list-style: none;">
                                    <li>{{"Location"|translate}}</li>
                                    <li style="margin-top:10px;">{{"highs"|translate}}：<input type="text" style="border:0;" ng-model="vm.data.tommorrow.tomorrowhigh">
                                        <span style="margin-left: 25%;">{{"lows"|translate}}：<input type="text" style="border:0;" ng-model="vm.data.tommorrow.tomorrowlow"></span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle;text-align: center;">{{"today"|translate}}</td>
                            <td colspan="5">
                                <ul style="list-style: none;">
                                    <li style="margin-top:10px;">{{"sunrise"|translate}}：<input type="text" style="border:0;" ng-model="vm.data.today.todayrise">
                                        <span style="margin-left: 24%;">{{"sundown"|translate}}：<input type="text" style="border:0;" ng-model="vm.data.today.todaydown"></span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle;text-align: center;">{{"tomorrow"|translate}}</td>
                            <td colspan="5">
                                <ul style="list-style: none;">
                                    <li style="margin-top:10px;">{{"sunrise"|translate}}：<input type="text" style="border:0;" ng-model="vm.data.tommorrow.tomorrowrise">
                                        <span style="margin-left: 24%;">{{"sundown"|translate}}：<input type="text" style="border:0;" ng-model="vm.data.tommorrow.tomorrowdown"></span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>{{"preparedby"|translate}}：{{"staffname"|translate}}</td>
                            <td><input type="text" style="border: 0;width: 100%;height: 100%;"  ng-model="vm.data.esName"></td>
                            <td>{{"positiontitle"|translate}}</td>
                            <td><input type="text" style="border: 0;width: 100%;height: 100%;" ng-model="vm.data.esPost"></td>
                            <td>{{"Signature"|translate}}</td>
                            <td colspan="2"><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr style="height: 60px;">
                            <td style="line-height: 60px;" colspan="4">{{"ecs"|translate}} 201-6 {{"weathers"|translate}}</td>
                            <td style="line-height: 60px;" colspan="1">{{"Datetime"|translate}}</td>
                            <td style="line-height: 60px;" colspan='2'><input type="text" style="border: 0;width: 100%;height: 100%;" ng-model="vm.data.esDate"></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-md-offset-5 col-lg-offset-5" style="margin-top: 15px;">
                    <button type="button" class="mb-sm btn btn-danger" ng-click="submit()">{{"submit"|translate}}</button>
                    <button type="button" class="mb-sm btn btn-info" ng-click="cancel()">{{"cancel"|translate}}</button>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
