<h3>
    <ol class="breadcrumb">
        <li><a href="#">{{"homepage"|translate}}</a></li>
        <li><a  ui-sref="app.ics_eventindex">{{"emergencymanagement"|translate}}</a></li>
        <li class="active">{{"resourcechange"|translate}}</li>
    </ol>
</h3>
<div class="row" style="margin: 10px; overflow: hidden;" ng-controller="ics210Ctl">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default" style="text-align: center;margin-top: 10px;">
            <div class="panel-heading" style="text-align: center;">ECS {{"resourcechange"|translate}} </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table  table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td>{{"accidentname"|translate}}</td>
                            <td colspan="1";><input  type="text" style="border: 0;width: 100%;height: 100%;" ng-model="eventname"></td>
                            <td>{{"incidentnumber"|translate}}</td>
                            <td colspan="1";><input type="text" style="border: 0;width: 100%;height: 100%;" ng-model="eventnum"></td>
                            <td>{{"operationalperiod"|translate}}</td>
                            <td colspan="2";>
                                <input type="date" style="border: 0;width: 45%;height: 100%;" ng-model="starttime">
                                <input type="date" style="border: 0;width: 45%;height: 100%;" ng-model="endtime">
                            </td>
                        </tr>
                        <tr style="font-weight: bold">
                            <td>{{"resourcenum"|translate}}：</td>
                            <td>{{"newstatus"|translate}}：</td>
                            <td>{{"fromtask"|translate}}：</td>
                            <td>{{"to"|translate}}：</td>
                            <td>{{"changedate"|translate}}：</td>
                            <td>{{"changetime"|translate}}：</td>
                            <td>{{"edit"|translate}}</td>
                        </tr>
                        <tr ng-repeat="user in vm.data.tableCotent">
                            <td>
                                <span editable-text="user.name" e-name="name" e-form="rowform" >{{ user.name  }}</span>
                            </td>
                            <td>
                                <span editable-text="user.status" e-name="status"   e-form="rowform">{{ user.status }}</span>
                            </td>
                            <td>
                                <span editable-text="user.from" e-name="from"  e-form="rowform">{{ user.from }}</span>
                            </td>
                            <td>
                                <span editable-text="user.go" e-name="go"  e-form="rowform">{{ user.go }}</span>
                            </td>
                            <td>
                                <span editable-text="user.date" e-type="date" e-name="date"  e-form="rowform">{{ user.date }}</span>
                            </td>
                            <td>
                                <span editable-text="user.time" e-type="time" e-name="time"  e-form="rowform">{{ user.time }}</span>
                            </td>
                            <td style="white-space: nowrap">
                                <form editable-form="" name="rowform" onbeforesave="table.saveUser($data, user.id)" ng-show="rowform.$visible" shown="false" class="form-buttons form-inline">
                                    <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-info">
                                        <em class="fa fa-save"></em>
                                    </button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="Cancel" class="btn btn-sm btn-default">
                                        <em class="fa fa-times"></em>
                                    </button>
                                </form>
                                <div ng-show="!rowform.$visible" class="buttons">
                                    <button ng-click="rowform.$show()" title="Edit" class="btn btn-sm btn-info">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                    <button ng-click="removeUser($index)" title="Delete" class="btn btn-sm btn-danger">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="float: left;"><button ng-click="addUser()" class="btn btn-default">{{"add"|translate}}</button></td>
                        </tr>
                        <tr>
                            <td>{{"preparename"|translate}}</td>
                            <td colspan="1"><input type="text" style="border: 0;width: 100%;height: 100%;" ng-model="model.esName"></td>
                            <td>{{"prepareposition"|translate}}</td>
                            <td colspan="1"><input type="text" style="border: 0;width: 100%;height: 100%;" ng-model="model.esPost"></td>
                            <td>{{"preparesign"|translate}}</td>
                            <td colspan="2"><input type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr style="height: 60px;">
                            <td style="line-height: 60px;" colspan="4">{{"ecs"|translate}}{{"resourcechange"|translate}} </td>
                            <td style="line-height: 60px;" colspan="1">{{"datetime"|translate}}</td>
                            <td style="line-height: 60px;" colspan='2';><input type="text" style="border: 0;width: 100%;height: 100%;" ng-model="model.esDate"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 " style="margin-top: 15px;">
                    <button type="button" class="mb-sm btn btn-danger" ng-click="submit()">{{"submit"|translate}}
                    </button>
                    <button type="button" class="mb-sm btn btn-info" ng-click="cancel()">{{"cancel"|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
