<div class="row" style="margin: 10px; overflow: hidden;">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading" style="text-align: center;">{{"triggercondition"|translate}}</div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table  table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td colspan="2" style="text-align: center;background: #E9E9E9;">{{"touch"|translate}}</td>
                            <td colspan="3" style="text-align: center;background: yellow">{{"yellow"|translate}}</td>
                            <td colspan="3" style="text-align: center;background: orange">{{"orange"|translate}}</td>
                            <td colspan="3" style="text-align: center;background: red">{{"red"|translate}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background: #E9E9E9;">{{"terrorist"|translate}}</td>
                            <td colspan="3" style="background: #E1F3FF">{{"violent"|translate}}。</td>
                            <td colspan="3" style="background: #E1F3FF">{{"frequent"|translate}}。</td>
                            <td colspan="3" style="background: #E1F3FF">{{"terroristactivity"|translate}}。</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background: #E9E9E9;">{{"socialunrest"|translate}}</td>
                            <td colspan="3" style="background: #E1F3FF">{{"vote"|translate}}。</td>
                            <td colspan="3" style="background: #E1F3FF">{{"socialorder"|translate}}。</td>
                            <td colspan="3" style="background: #E1F3FF">{{"collapse"|translate}}。</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background: #E9E9E9;">{{"conflict"|translate}}</td>
                            <td colspan="3" style="background: #E1F3FF">{{"neighbor"|translate}}。</td>
                            <td colspan="3" style="background: #E1F3FF">{{"central"|translate}}。</td>
                            <td colspan="3" style="background: #E1F3FF">{{"privatearm"|translate}}。</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background: #E9E9E9;">{{"naturaldisasters"|translate}}</td>
                            <td colspan="3" style="background: #E1F3FF">{{"surrounding"|translate}}。</td>
                            <td colspan="3" style="background: #E1F3FF">{{"refugees"|translate}}。</td>
                            <td colspan="3" style="background: #E1F3FF">{{"refugeecamp"|translate}}。</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background: #E9E9E9;">{{"epidemicdisease"|translate}}</td>
                            <td colspan="3" style="background: #E1F3FF">{{"middleeast"|translate}}。</td>
                            <td colspan="3" style="background: #E1F3FF">{{"outbreak"|translate}}。</td>
                            <td colspan="3" style="background: #E1F3FF">{{"iraqwarn"|translate}}。</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>