<div class="container-fluid" ng-controller="workslistCtrl">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <button type="button"  class="btn btn-danger" ng-click="add()">添加</button>
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-heading">
                    <span>作业计划表（ECS 215）</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover" style="margin-top: 10px;">
                            <thead>
                            <tr>
                                <th style="width: 5%;" ></th>
                                <th  style="width:10%">事故名称</th>
                                <th  style="width:13%">事故时间</th>
                                <th  style="width:20%">作业周期</th>
                                <th  style="width:15%">分部</th>
                                <th  style="width:18%">队、组或其它</th>
                                <th  style="width:10%">操作</th>
                            </tr>
                            </thead>
                            <tbody style="text-align: left;">
                            <tr ng-repeat="rr in items">
                                <td>
                                    <label>
                                        <input  type="checkbox" style="margin-top:0px;">
                                    </label>
                                </td>
                                <td>{{rr.eventname}}</td>
                                <td>{{rr.time}}</td>
                                <td>{{rr.startdate}}</td>
                                <td>{{rr.department}}</td>
                                <td>{{rr.group}}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-info" ng-click="view()" title="查看详情">
                                        <em class="fa fa-eye"></em>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" ng-click="delete(rr.id)" title="删除">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>