<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>国际公司应急事件信息汇总表</title>
    <link rel="stylesheet" type="text/css"  href="../css/bootstrap.css" />
    <link rel="stylesheet" type="text/css"  href="../css/theme-e.css">
</head>
<body>
<div class="row" style="margin: 10px;">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <button type="button"  class="btn btn-info">关闭</button>
        <button type="button"  class="btn btn-success">保存</button>
        <div class="panel panel-default" style="text-align: center;margin-top: 10px;">
            <div class="panel-heading" style="text-align: center;">国际公司应急事件信息汇总表</div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table  table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td colspan="2">事故名称</td>
                            <td colspan="10"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">发生时间</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2">发生地点</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2">事件单位</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td rowspan="5" colspan="2" style="vertical-align: middle;">事故损失</td>
                            <td colspan="2"></td>
                            <td colspan="4">最初损失</td>
                            <td colspan="4">目前损失</td>
                        </tr>
                        <tr>
                            <td colspan="2">财产损失</td>
                            <td colspan="4"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="4"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">环境伤害</td>
                            <td colspan="4"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="4"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">声誉影响</td>
                            <td colspan="4"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="4"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">其他</td>
                            <td colspan="4"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="4"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td rowspan="8" colspan="2" style="vertical-align: middle;">天气情况</td>
                            <td colspan="2"></td>
                            <td colspan="4">最初天气</td>
                            <td colspan="4">目前天气</td>
                        </tr>
                        <tr>
                            <td colspan="2">气温</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">气压</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">湿度</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">风向</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">风速</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">浪高</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">其他</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">海外公司人数</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2">现场人数</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2">救援人员数量</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">事故最初等级</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2">目前事故等级</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2">事故潜在等级</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" colspan="2" style="vertical-align: middle;">事发单位应急管理委员会成员主任</td>
                            <td colspan="2">姓名</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td rowspan="2" colspan="2" style="vertical-align: middle;">应急协调人员</td>
                            <td colspan="2">姓名</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">联系电话</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                            <td colspan="2">姓名</td>
                            <td colspan="2"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">事件情况描述</td>
                            <td colspan="10"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">事发后现场采取的措施</td>
                            <td colspan="10"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">目前现场采取的措施</td>
                            <td colspan="10"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">下一步行动</td>
                            <td colspan="10"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">其他事项</td>
                            <td colspan="10"><input  type="text" style="border: 0;width: 100%;height: 100%;"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
</body>
</html>