<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>应急管理委员会成员表</title>
    <link rel="stylesheet" type="text/css"  href="../css/bootstrap.css" />
    <link rel="stylesheet" type="text/css"  href="../css/theme-e.css">
</head>
<body>
<div class="row" style="margin: 10px;">
    <div class="col-sm-12 col-md-12 col-lg-12" >
        <button type="button"  class="btn btn-info">关闭</button>
        <button type="button"  class="btn btn-success">保存</button>
        <div class="panel panel-default" style="margin-top: 10px;text-align: center;" >
            <div class="panel-heading" style="text-align: center;">应急管理委员会成员表</div>
            <div class="panel-body" >
                <!-- START table-responsive-->
                <div class="table-responsive" >
                    <table class="table  table-bordered table-hover" >
                        <tbody>
                            <tr>
                                <th colspan="2"  style="text-align: center;">单位</th>
                                <th colspan="2"  style="text-align: center;">姓名</th>
                                <th colspan="2"  style="text-align: center;">应急职务</th>
                                <th colspan="3"  style="text-align: center;">办公电话</th>
                                <th colspan="3"  style="text-align: center;">手机</th>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="2" style="vertical-align: middle;">有限公司应急协调办公室</td>
                                <td colspan="2">魏文普</td>
                                <td colspan="2">主任</td>
                                <td colspan="3">0086-10-84521959</td>
                                <td colspan="3">0086-13910617153</td>
                            </tr>
                            <tr>
                                <td colspan="2">赵兰祥</td>
                                <td colspan="2">副主任</td>
                                <td colspan="3">0086-10-84521153</td>
                                <td colspan="3">0086-13910321690</td>
                            </tr>
                            <tr>
                                <td colspan="2">于波</td>
                                <td colspan="2">成员</td>
                                <td colspan="3">0086-10-84521153</td>
                                <td colspan="3">0086-13911870597</td>
                            </tr>
                            <tr>
                                <td rowspan="2" colspan="2" style="vertical-align: middle;">有限公司应急指挥中心</td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="3">0086-10-84523800/3905</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="3">传真0086-10-64015057</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td rowspan="7" colspan="2" style="vertical-align: middle;">应急管理委员会</td>
                                <td colspan="2">陈明</td>
                                <td colspan="2">主任</td>
                                <td colspan="3">0086-10-84526676</td>
                                <td colspan="3">0086-13661281100</td>
                            </tr>
                            <tr>
                                <td colspan="2">赵顺强</td>
                                <td colspan="2">副主任</td>
                                <td colspan="3">0086-10-84526677</td>
                                <td colspan="3">0086-13661281117</td>
                            </tr>
                            <tr>
                                <td colspan="2">周洪波</td>
                                <td colspan="2">委员</td>
                                <td colspan="3">0086-10-84528386</td>
                                <td colspan="3">0086-13811568706</td>
                            </tr>
                            <tr>
                                <td colspan="2">李波</td>
                                <td colspan="2">委员</td>
                                <td colspan="3">0086-10-84526130</td>
                                <td colspan="3">0086-13811168961</td>
                            </tr>
                            <tr>
                                <td colspan="2">崔旱云</td>
                                <td colspan="2">委员</td>
                                <td colspan="3">0086-10-84521641</td>
                                <td colspan="3">0086-13701389909</td>
                            </tr>
                            <tr>
                                <td colspan="2">崔炯成</td>
                                <td colspan="2">委员</td>
                                <td colspan="3">0086-10-84522652</td>
                                <td colspan="3">0086-13501188901</td>
                            </tr>
                            <tr>
                                <td colspan="2">李东</td>
                                <td colspan="2">委员</td>
                                <td colspan="3">0086-10-84521599</td>
                                <td colspan="3">0086-13521041121</td>
                            </tr>
                            <tr>
                                <td rowspan="5" colspan="2" style="vertical-align: middle;">应急协调办公室</td>
                                <td colspan="2">王志中</td>
                                <td colspan="2">主任</td>
                                <td colspan="3">0086-10-84526809</td>
                                <td colspan="3">0086-13911523181</td>
                            </tr>
                            <tr>
                                <td colspan="2">郭长太</td>
                                <td colspan="2">副主任</td>
                                <td colspan="3">0086-10-84527069</td>
                                <td colspan="3">0086-13717702237</td>
                            </tr>
                            <tr>
                                <td colspan="2">韩凤池</td>
                                <td colspan="2">成员</td>
                                <td colspan="3">0086-10-84528227</td>
                                <td colspan="3">0086-18601971965</td>
                            </tr>
                            <tr>
                                <td colspan="2">王海勇</td>
                                <td colspan="2">成员</td>
                                <td colspan="3">0086-10-84527082</td>
                                <td colspan="3">0086-15010413193</td>
                            </tr>
                            <tr>
                                <td colspan="2">值班电话</td>
                                <td colspan="2">应急指挥中心</td>
                                <td colspan="3">0086-10-84526809</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td rowspan="4" colspan="2" style="vertical-align: middle;">公共关系及法律支持组</td>
                                <td colspan="2">张兵</td>
                                <td colspan="2">组长</td>
                                <td colspan="3">0086-10-84521182</td>
                                <td colspan="3">0086-13501039902</td>
                            </tr>
                            <tr>
                                <td colspan="2">吴新词</td>
                                <td colspan="2">组员</td>
                                <td colspan="3">0086-10-84521915</td>
                                <td colspan="3">0086-13701056873</td>
                            </tr>
                            <tr>
                                <td colspan="2">肖艳</td>
                                <td colspan="2">组员</td>
                                <td colspan="3">0086-10-84521540</td>
                                <td colspan="3">0086-13811190556</td>
                            </tr>
                            <tr>
                                <td colspan="2">吕仁红</td>
                                <td colspan="2">组员</td>
                                <td colspan="3">0086-10-84527563</td>
                                <td colspan="3">0086-15201696181</td>
                            </tr>
                            <tr>
                                <td rowspan="6" colspan="2" style="vertical-align: middle;">资源协调组</td>
                                <td colspan="2">赵顺强</td>
                                <td colspan="2">组长</td>
                                <td colspan="3">0086-10-84526677</td>
                                <td colspan="3">0086-13661281117</td>
                            </tr>
                            <tr>
                                <td colspan="2">蒋凯</td>
                                <td colspan="2">副组长</td>
                                <td colspan="3">0086-10-84521484</td>
                                <td colspan="3">0086-13501292363</td>
                            </tr>
                            <tr>
                                <td colspan="2">吴培康</td>
                                <td colspan="2">组员</td>
                                <td colspan="3">0086-10-84525915</td>
                                <td colspan="3">0086-13910313805</td>
                            </tr>
                            <tr>
                                <td colspan="2">刘晓祥</td>
                                <td colspan="2">组员</td>
                                <td colspan="3">0086-10-84522989</td>
                                <td colspan="3">0086-18910287159</td>
                            </tr>
                            <tr>
                                <td colspan="2">冒兴全</td>
                                <td colspan="2">组员</td>
                                <td colspan="3">0086-10-84526119</td>
                                <td colspan="3">0086-13810372328</td>
                            </tr>
                            <tr>
                                <td colspan="2">徐立强</td>
                                <td colspan="2">组员</td>
                                <td colspan="3">0086-10-84525838</td>
                                <td colspan="3">0086-13810756886</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="2" style="vertical-align: middle;">财务及保险组</td>
                                <td colspan="2">邝立坤</td>
                                <td colspan="2">组长</td>
                                <td colspan="3">0086-10-84523856</td>
                                <td colspan="3">0086-13501023467</td>
                            </tr>
                            <tr>
                                <td colspan="2">吴玉蕊</td>
                                <td colspan="2">组员</td>
                                <td colspan="3">0086-10-84521204</td>
                                <td colspan="3">0086-13501217769</td>
                            </tr>
                            <tr>
                                <td colspan="2">刘颖</td>
                                <td colspan="2">组员</td>
                                <td colspan="3">0086-10-84523923</td>
                                <td colspan="3">008613426046056</td>
                            </tr>
                            <tr>
                                <td rowspan="4" colspan="2" style="vertical-align: middle;">后勤支持组</td>
                                <td colspan="2">张 虹</td>
                                <td colspan="2">组长</td>
                                <td colspan="3">0086-10-84521697</td>
                                <td colspan="3">0086-13910822700</td>
                            </tr>
                            <tr>
                                <td colspan="2">涂峰</td>
                                <td colspan="2">组员</td>
                                <td colspan="3">0086-10-84528626</td>
                                <td colspan="3">0086-13825202262</td>
                            </tr>
                            <tr>
                                <td colspan="2">李燕</td>
                                <td colspan="2">组员</td>
                                <td colspan="3">0086-10-84521358</td>
                                <td colspan="3">0086-18618167717</td>
                            </tr>
                            <tr>
                                <td colspan="2">赵倩晔</td>
                                <td colspan="2">组员</td>
                                <td colspan="3">0086-10-84523953</td>
                                <td colspan="3">0086-13811082504</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="2" style="vertical-align: middle;">应急管理专家组成员</td>
                                <td colspan="2">刘向东	</td>
                                <td colspan="2"></td>
                                <td colspan="3">0086-10-84521753</td>
                                <td colspan="3">0086-13910965077</td>
                            </tr>
                            <tr>
                                <td colspan="2">赵建臣</td>
                                <td colspan="2">专家</td>
                                <td colspan="3">0086-10-84522727</td>
                                <td colspan="3">0086-13911535890</td>
                            </tr>
                            <tr>
                                <td colspan="2">李  斌</td>
                                <td colspan="2">专家</td>
                                <td colspan="3">0086-10-84523943</td>
                                <td colspan="3">0086-13702012555</td>
                            </tr>
                            <tr>
                                <th colspan="2"  style="text-align: center;">单位</th>
                                <th colspan="2"  style="text-align: center;">姓名</th>
                                <th colspan="2"  style="text-align: center;">应急职务</th>
                                <th colspan="3"  style="text-align: center;">办公电话</th>
                                <th colspan="3"  style="text-align: center;">手机(国内)</th>
                            </tr>
                            <tr>
                                <td rowspan="2" colspan="2" style="vertical-align: middle;">伊拉克公司</td>
                                <td colspan="2">段成刚</td>
                                <td colspan="2">主任</td>
                                <td colspan="1">00971-509134538(迪拜) </td>
                                <td colspan="2">00964-7803269318</td>
                                <td colspan="3">0086-1390104567</td>
                            </tr>
                            <tr>
                                <td colspan="2">俞进</td>
                                <td colspan="2">副主任</td>
                                <td colspan="1">00971-566529766(迪拜)</td>
                                <td colspan="2">00964-7812632833</td>
                                <td colspan="3">0086-13910532909</td>
                            </tr>
                            <tr>
                                <td rowspan="2" colspan="2" style="vertical-align: middle;">乌干达公司</td>
                                <td colspan="2">肖宗伟</td>
                                <td colspan="2">主任</td>
                                <td colspan="1">00256-204500001</td>
                                <td colspan="2">00256-772798001</td>
                                <td colspan="3">0086-13801040254</td>
                            </tr>
                            <tr>
                                <td colspan="2">赵英年</td>
                                <td colspan="2">副主任</td>
                                <td colspan="1"></td>
                                <td colspan="2">00256-772798002	</td>
                                <td colspan="3">0086-13910552259</td>
                            </tr>
                            <tr>
                                <td rowspan="2" colspan="2" style="vertical-align: middle;">东南亚公司</td>
                                <td colspan="2">刘松</td>
                                <td colspan="2">主任</td>
                                <td colspan="1">0086-10-84529488</td>
                                <td colspan="2">0062-8118076759</td>
                                <td colspan="3">0086-13811109086</td>
                            </tr>
                            <tr>
                                <td colspan="2">王欣</td>
                                <td colspan="2">副主任</td>
                                <td colspan="1">0086-10-84529969</td>
                                <td colspan="2">0062-8118602312	</td>
                                <td colspan="3">0086-13910808084</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="2" style="vertical-align: middle;">刚果公司</td>
                                <td colspan="2">宫少波</td>
                                <td colspan="2">主任</td>
                                <td colspan="1">0086-10-84522828</td>
                                <td colspan="2">00242-055499008	</td>
                                <td colspan="3">0086-13910856291</td>
                            </tr>
                            <tr>
                                <td colspan="2">董燕燕</td>
                                <td colspan="2">成员	</td>
                                <td colspan="1">00242-055499165</td>
                                <td colspan="2">00242-055499165	</td>
                                <td colspan="3">0086-13822675919</td>
                            </tr>
                            <tr>
                                <td colspan="2">周凡</td>
                                <td colspan="2">成员</td>
                                <td colspan="1">00242-066535989</td>
                                <td colspan="2">00242-066535989</td>
                                <td colspan="3">0086-13811936208</td>
                            </tr>
                            <tr>
                                <td rowspan="2" colspan="2" style="vertical-align: middle;">西北大陆架公司</td>
                                <td colspan="2">吕永丰</td>
                                <td colspan="2">主任</td>
                                <td colspan="1">00618-62601777</td>
                                <td colspan="2">00614-1556-4858</td>
                                <td colspan="3">0086-13910109378</td>
                            </tr>
                            <tr>
                                <td colspan="2">凌福海</td>
                                <td colspan="2">成员</td>
                                <td colspan="1">00618-6260 1778</td>
                                <td colspan="2">00614-5069-2441	</td>
                                <td colspan="3">0086-1353343662</td>
                            </tr>
                            <tr>
                                <td rowspan="2" colspan="2" style="vertical-align: middle;">中东公司</td>
                                <td colspan="2">项华</td>
                                <td colspan="2">主任</td>
                                <td colspan="1">00974 44339201</td>
                                <td colspan="2">00974 33146009</td>
                                <td colspan="3">0086-13902064879</td>
                            </tr>
                            <tr>
                                <td colspan="2">邓津辉</td>
                                <td colspan="2">成员</td>
                                <td colspan="1">00974 44339203</td>
                                <td colspan="2">00974 66473604</td>
                                <td colspan="3">0086-13802117965</td>
                            </tr>
                            <tr>
                                <td rowspan="2" colspan="2" style="vertical-align: middle;">泛美能源公司</td>
                                <td colspan="2">刘永杰</td>
                                <td colspan="2">主任</td>
                                <td colspan="1">0054-114-3104356</td>
                                <td colspan="2">0054-911-24525252</td>
                                <td colspan="3">0086-13603047299</td>
                            </tr>
                            <tr>
                                <td colspan="2">张力</td>
                                <td colspan="2">副主任</td>
                                <td colspan="1">0054-114-7057550</td>
                                <td colspan="2">0054-911-31022620</td>
                                <td colspan="3">0086-13502855876</td>
                            </tr>
                            <tr>
                                <td colspan="2">尼日利亚勘探开发公司</td>
                                <td colspan="2">华成刚</td>
                                <td colspan="2">主任</td>
                                <td colspan="1">00234-(0)8026905786</td>
                                <td colspan="2">00234-8034996606</td>
                                <td colspan="3">0086-15901180912</td>
                            </tr>
                            <tr>
                                <td colspan="2">巴新澳洲勘探项目</td>
                                <td colspan="2">刘明全</td>
                                <td colspan="2">组长</td>
                                <td colspan="1">0086-10-84523079</td>
                                <td colspan="2">0061 422188526（澳洲）/ 00675 73315958（巴新）</td>
                                <td colspan="3">0086-13822580258</td>
                            </tr>
                            <tr>
                                <td colspan="2">巴西项目组</td>
                                <td colspan="2">盛建波</td>
                                <td colspan="2">组长</td>
                                <td colspan="1">0055-21-32985430</td>
                                <td colspan="2">0055-21-995096798</td>
                                <td colspan="3">0086-13701008089</td>
                            </tr>
                            <tr>
                                <td colspan="2">赤几分公司</td>
                                <td colspan="2">赵建臣</td>
                                <td colspan="2">组长</td>
                                <td colspan="1">0086-10-84522727</td>
                                <td colspan="2">240-666-699169</td>
                                <td colspan="3">0086-13911535890</td>
                            </tr>
                            <tr>
                                <td colspan="2">冰岛项目组</td>
                                <td colspan="2">张文</td>
                                <td colspan="2">组长</td>
                                <td colspan="1">0086-10-84527827</td>
                                <td colspan="2"></td>
                                <td colspan="3">0086-13511020282</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
</body>
</html>