<div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="型号" [(ngModel)]="vm.model">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="功率" [(ngModel)]="vm.power">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="最大航速(Km/h)" [(ngModel)]="vm.speed">
    </md-input-container>
</div>
<div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="拖力" [(ngModel)]="vm.drag">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="存放点" [(ngModel)]="vm.saveaddress">
    </md-input-container>
</div>