.box{
    height: 100%;
 }
 .header{
     width: 100%;
     height: 60px;
     background: red;
 }
 .ant-layout{
     height: 94%;
 }
 :host ::ng-deep .ant-layout-sider-collapsed .nav-text {
   display: none;
 }
 :host ::ng-deep nz-sider ul li{
   padding-top: 20px;
 }
 :host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
   display: none;
 }
 
 :host ::ng-deep .ant-layout-sider-collapsed .anticon {
   font-size: 16px;
   margin-left: 8px;
 }
 /* minute */
 .content{
     padding: 24px;
 }