<h3 ng-controller="AddOrganiztionCtrl">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a>{{"systemgr"|translate}}</a>
        </li>
        <li>
            <a ui-sref="app.Organizationmanagement">
                {{"orgmgr"|translate}}
            </a>
        </li>
        <li class="active">
            <span>{{title|translate}}{{'org'|translate}}</span>
        </li>
    </ul>
</h3>
<div ng-controller="AddOrganiztionCtrl" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form name="formValidate" ng-submit="submitForm()" novalidate="" class="form-validate form-horizontal">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fieldset class="b0">
                            <legend>{{title| translate}}{{'org'|translate}}</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{"orgname"|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sometext" required="" ng-model="vm.organiztion_name" class="form-control" />
                                    <span ng-show="validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{"orgenglishname"|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sometext" required="" ng-model="vm.organiztion_name_en" class="form-control" />
                                    <span ng-show="form.validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset ng-hide="isedit">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{"cartype"|translate}}</label>
                                <div class="col-sm-6">
                                    <select name="select" required="" ng-model="vm.parent_id" class="form-control">
                                        <option value="2016011801">{{"nationcompany"|translate}}</option>
                                        <option value="2016011802">{{"oversea"|translate}}</option>
                                    </select>
                                    <span ng-show="form.validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'introduction'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sometext" required="" ng-model="vm.intro" class="form-control" />
                                    <span ng-show="form.validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'en'|translate}}{{'introduction'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sometext" required="" ng-model="vm.intro_en" class="form-control" />
                                    <span ng-show="form.validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'email'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sometext" required="" ng-model="vm.email" class="form-control" />
                                    <span ng-show="form.validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'phone'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sometext" required="" ng-model="vm.phone" class="form-control" />
                                    <span ng-show="form.validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'fax'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sometext" required="" ng-model="vm.faxes" class="form-control" />
                                    <span ng-show="form.validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'adds'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sometext" required="" ng-model="vm.address" class="form-control" />
                                    <span ng-show="form.validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'en'|translate}}{{'adds'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sometext" required="" ng-model="vm.address_en" class="form-control" />
                                    <span ng-show="form.validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'longitude'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sometext" required="" ng-model="vm.lon" class="form-control" />
                                    <span ng-show="form.validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'latitude'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sometext" required="" ng-model="vm.lat" class="form-control" />
                                    <span ng-show="form.validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{"doornot"|translate}}</label>
                                <div class="col-sm-6">
                                    <select name="select" required="" ng-model="vm.worker" class="form-control">
                                        <option value=1>{{"dowork"|translate}}</option>
                                        <option value=0>{{"notsowork"|translate}}</option>
                                    </select>
                                    <span ng-show="form.validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="panel-footer text-center">
                        <button type="button" class="btn btn-info" ng-click="cancel()">{{"cancel"|translate}}</button>
                        <button type="button" class="btn btn-info">
                            {{'reset'|translate}}
                        </button>
                        <button type="submit" class="btn btn-primary">{{'submit'|translate}}</button>
                    </div>
                </div>
                <!-- END panel-->
            </form>
        </div>
    </div>
</div>
