<h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a>{{"systemgr"|translate}}</a>
        </li>
        <li class="active">
            <span>{{"permissionsmgr"|translate}}</span>
        </li>
    </ul>
</h3>
<div class="container-fluid" ng-controller="permissionsCtrl">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{"permissionsmgr"|translate}}</h3>
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-sm-3">
                  <select class="form-control" ng-options="a.role_id as a.role_name for a in roleList" ng-model="selRole" ng-change="loadRoleAction()">
                  </select>
              </div>
          </div>
          <div class="panel panel-default" style="margin-bottom: 0px; margin-top: 20px;">
            <div class="panel-heading">
              <h3 class="panel-title">{{"jurisdictions"|translate}}：</h3>
            </div>
            <div class="panel-body">
                <div class="row" ng-repeat="row in actionList">
                    <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="p in row">
                        <div class="checkbox c-checkbox needsclick">
                            <label class="needsclick">
                                <input type="checkbox" class="needsclick" ng-model="p.checked"/>
                                <span class="fa fa-check"></span>{{p.actionname}}</label>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="panel-footer text-center">
          <button type="button" class="btn btn-primary" ng-click="save()">
              {{'save' | translate}}
          </button>
      </div>
    </div>
</div>
