.detail_content{
    width: 1196px;
    min-height: 500px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-top:8px;
    margin-bottom: 8px;
    background: rgba(245,245,245,0.1);
}
p{
    text-align: center;
    color: #191919;
    font-size: 22px;
    font-family:"微软雅黑";
    margin:6px;
}
.author{
    font-family:"微软雅黑";
    text-align: center;
    margin-top: 15px;
    color: red;
}
.author span{
    display: inline-block;
    font-size: 13px;
}
.content{
    font-family:"微软雅黑";
    padding: 20px;
    line-height: 32px;
    text-indent: 30px;
    text-align: justify; 
    font-size: 15px;
}