<div class="container">
    <h1>重置密码</h1>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submit()">
        <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-mail">
                <input type="text" nz-input formControlName="email" placeholder="输入邮箱地址!" id="email">
              </nz-input-group>
              <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">邮箱格式不正确!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="login-form-button" [nzType]="'primary'" >重置</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
