<ul class="breadcrumb">
  <li>内容管理</li>
  <li><a routerLink="/admin/content">内容列表</a></li>
  <li class="active">{{type?'查看':(pId?"编辑":"新增")}}</li>
</ul>

<form novalidate class="pad" #pForm="ngForm" (ngSubmit)="onSubmit()">
  <div layout="row" class="pad-bottom">
    <md-select placeholder="大分类" required style="width:300px;" name="big" [(ngModel)]="vm.BigClassID" (change)="querySmallClass()">
      <md-option *ngFor="let b of bigClasses" [value]="b.Id">
        {{b.BigClassName}}
      </md-option>
    </md-select>
    <md-select placeholder="小分类" required class="pad-left" name="small" style="width:320px;" [(ngModel)]="vm.SmallClassID">
      <md-option *ngFor="let s of smallClasses" [value]="s.Id">
        {{s.SmallClassName}}
      </md-option>
    </md-select>
  </div>
  <div layout="column" class="pad-bottom-sm" *ngIf="vm.SmallClassID==1">
    <div>
      <p>缩略图</p>
      <img [src]="picUrl" width="100" height="100">
    </div>
    <div>
      <p-fileUpload mode="basic" name="uploadfiles" auto="true" url="http://www.lintongqx.com/uploadapi" accept="image/*" maxFileSize="1000000"
        (onUpload)="onBasicUpload($event)"></p-fileUpload>
      
    </div>
  </div>
  <div layout="row" class="pad-bottom-sm">
    <md-form-field style="width:640px;">
      <input mdInput placeholder="标题" required [(ngModel)]="vm.Title" name="title" #title="ngModel" [readonly]="type">
      <md-error *ngIf="title.invalid && title.errors.required">
        必填项
      </md-error>
    </md-form-field>
  </div>
  <div layout="row" class="pad-bottom-sm">
    <md-form-field style="width:300px;">
      <input mdInput [mdDatepicker]="picker" placeholder="时间" #time="ngModel" required [readonly]="type" [(ngModel)]="selTime"
        name="tt">
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker></md-datepicker>
      <md-error *ngIf="time.invalid && time.errors.required">
        必填项
      </md-error>
    </md-form-field>
    <md-form-field class="pad-left" style="width:320px;">
      <input mdInput placeholder="作者" #author="ngModel" required [readonly]="type" [(ngModel)]="vm.Author" name="author">
      <md-error *ngIf="author.invalid && author.errors.required">
        必填项
      </md-error>
    </md-form-field>
  </div>
  <div layout="row" class="pad-bottom-sm">
    <quill-editor name="content" [(ngModel)]="vm.Context"></quill-editor>
  </div>
  <div layout="row" style="margin-top:50px;">
    <div>
      <a md-raised-button type="reset" color='warn' *ngIf="!type">重置</a>
    </div>
    <div class="pad-left">
      <a md-raised-button type="button" color='primary' routerLink='/admin/content'>取消</a>
    </div>
    <div class="pad-left">
      <button md-raised-button color="primary" type="submit" [disabled]="!pForm.valid" *ngIf="!type">提交</button>
    </div>
  </div>
</form>