<h2 md-dialog-title>选择应急队伍</h2>
<md-dialog-content>
  <div class="row-section">
    <md-select class="row-margin" [(ngModel)]="selType" (change)="changeType()" placeholder="队伍类型" required style="width:300px;">
      <md-option *ngFor="let t of types" [value]="t.id">
        {{t.name}}
      </md-option>
    </md-select>
  </div>
  <div class="row-section">
    <md-select class="row-margin" name="level" placeholder="队伍名称" required style="width:300px;" [(ngModel)]="selGroup">
      <md-option *ngFor="let t of groups" [value]="t">
        {{t.name}}
      </md-option>
    </md-select>
  </div>
</md-dialog-content>
<md-dialog-actions>
  <button md-button [md-dialog-close]="-1">取消</button>
  <button md-button [md-dialog-close]="selGroup">确定</button>
</md-dialog-actions>