<div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="型号" [(ngModel)]="vm.model">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="重量" [(ngModel)]="vm.weight">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="适用油品" [(ngModel)]="vm.applyOil">
    </md-input-container>
</div>
<div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="撇送距离" [(ngModel)]="vm.sendDistance">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="回收效率" [(ngModel)]="vm.recyclingRatio">
    </md-input-container>
     <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="工作方式" [(ngModel)]="vm.workWay">
    </md-input-container>
</div>
<div class="row-section">  
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="布放方式" [(ngModel)]="vm.buWay">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="回收能力" [(ngModel)]="vm.recyclingAbility">
    </md-input-container>
</div>