<ul class="breadcrumb">
  <li>应急记录</li>
  <li>
    <a routerLink="/record/train">应急培训</a>
  </li>
  <li class="active">{{type?'查看':(trainId?"编辑":"新增")}}</li>
</ul>
<md-card>
  <md-card-title>{{type?'查看':(trainId?"编辑":"新增")}}应急培训</md-card-title>
  <form #trainForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row-section">
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="所属单位" name="org" required [(ngModel)]="vm.org" [readonly]="type">
      </md-input-container>
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="应急培训单位" name="depart" required [(ngModel)]="vm.depart" [readonly]="type">
      </md-input-container>
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="应急培训名称" name="name" required [(ngModel)]="vm.name" [readonly]="type">
      </md-input-container>
    </div>
    <div class="row-section">
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="应急培训时间" type="date" name="time" required [(ngModel)]="vm.time" [readonly]="type">
      </md-input-container>
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="应急培训地点" name="address" required [(ngModel)]="vm.address" [readonly]="type">
      </md-input-container>
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="课时" name="course" required [(ngModel)]="vm.course" [readonly]="type">
      </md-input-container>
    </div>
    <div class="row-section">
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="参与人数" name="num" required [(ngModel)]="vm.num" [readonly]="type">
      </md-input-container>
      <md-select style="width:300px;" class="row-margin" placeholder="状态" [(ngModel)]="vm.status" name="status">
        <md-option [value]="false">未完成</md-option>
        <md-option [value]="true">完成</md-option>
      </md-select>
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="备注" name="require" required [(ngModel)]="vm.require" [readonly]="type">
      </md-input-container>
    </div>
    <div class="row-section">
      <md-input-container style="width:800px;" class="row-margin">
        <input mdInput placeholder="培训内容" name="content" required [(ngModel)]="vm.content" [readonly]="type">
      </md-input-container>
    </div>
    <md-card>
      <!-- <md-card-subtitle>文件上传(演习总结文件必须是手签pdf格式)</md-card-subtitle> -->
      <ngx-datatable class="material" [rows]="files" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
        [limit]="5">
        <ngx-datatable-column name="文件名称" prop="Name"></ngx-datatable-column>
        <ngx-datatable-column name="上传时间" prop="Time"></ngx-datatable-column>
        <ngx-datatable-column name="操作">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <a md-mini-fab color="primary" mdTooltip="下载" href="/fs/{{value.ExName}}" target="_blank">
              <md-icon>search</md-icon>
            </a>
            <a md-mini-fab color="warn" mdTooltip="删除" *ngIf="!type" (click)="deleteUpFile(value.ExName)">
              <md-icon>delete</md-icon>
            </a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <br>
      <p-fileUpload name="uploadfiles" url="/upload/file" multiple="multiple" chooseLabel="选择文件" uploadLabel='全部上传' cancelLabel='全部取消'
        (onUpload)="onBasicUpload($event)" *ngIf="!type"></p-fileUpload>
    </md-card>
    <md-card-actions>
      <div class="centerText">
        <button md-raised-button color="accent" *ngIf="!type">重置</button>
        <button md-raised-button color="warn" (click)="cancel()">取消</button>
        <button md-raised-button color="primary" type="submit" [disabled]="!trainForm.valid" *ngIf="!type">提交</button>
      </div>
    </md-card-actions>
  </form>
</md-card>
