<h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a ui-sref="app.securitysystem">
                {{"emergencysystem"|translate}}
            </a>
        </li>
        <li>
            <span>{{"mapmarkermanage"|translate}}</span>
        </li>
    </ul>
</h3>
<div ng-controller="MarkerManageCtrl" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form name="formValidate" novalidate="" class="form-validate form-horizontal">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fieldset class="b0">
                            <legend>{{'mapmarkermanage'|translate}}</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'positionname'|translate}}</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="curMarker" ng-options="a.name for a in markerlist" ng-change="changeMarker()"></select>
                                </div>
                                <button class="btn btn-danger" ng-click="deletemarker()">{{'singledelete'|translate}}</button>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'add'|translate}}</label>
                                <div class="col-sm-2">
                                    <input type="text" name="sometext" required="" ng-model="name" class="form-control" />
                                    <span ng-show="validateInput('sometext', 'required')" class="text-danger">{{"required"|translate}}</span>
                                </div>
                                <button class="btn btn-info" ng-click="addmarker()">{{'add'|translate}}</button>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'planpic'|translate}}</label>
                                <div class="col-sm-6">
                                    <img src={{imgsrc}} width="100" height="100"/>
                                    <input type="file" nv-file-select="" uploader="uploader" multiple/>
                                    <button class="btn btn-success radius" ng-click="uploadPic(picFile)"><i class="icon-ok"></i>{{"upload"|translate}}
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="panel-footer text-center">
                        <button class="btn btn-info" ng-click="cancel()">{{"cancel"|translate}}</button>
                        <button type="submit" class="btn btn-info" ng-click="submitForm()">{{'submit'|translate}}</button>
                    </div>
                </div>
                <!-- END panel-->
            </form>
        </div>
    </div>
</div>
