 <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="座位" [(ngModel)]="vm.planeSeat">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="燃料类型" [(ngModel)]="vm.planeFuel" >
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="长度(米)" [(ngModel)]="vm.planeLength">
    </md-input-container>
</div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="宽度(米)" [(ngModel)]="vm.planeWidth">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="高度(米)" [(ngModel)]="vm.planeHeight">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="客舱长(米)" [(ngModel)]="vm.planeCabinLength">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="客舱宽(米)" [(ngModel)]="vm.planeCabinWidth">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="客舱高(米)" [(ngModel)]="vm.planeCabinHigh">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="行李舱(立方米)" [(ngModel)]="vm.planeBaggage">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="发动机类型" [(ngModel)]="vm.planeEngineType">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="发动机型号" [(ngModel)]="vm.planeEngineModel">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="发动机制造商" [(ngModel)]="vm.planeEngineManufacture">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="气缸数(活塞发动机)" [(ngModel)]="vm.planeQigang">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="桨叶数量" [(ngModel)]="vm.planeJiangye">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="油箱容量(升)" [(ngModel)]="vm.planeYouxiang">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="油耗(L)" [(ngModel)]="vm.planeYouhao">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="最大功率(KW)" [(ngModel)]="vm.planeBigkw">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="最大功率转速(rmp)" [(ngModel)]="vm.planeBigrpm">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="最大起飞重量(Kg)" [(ngModel)]="vm.planeTakeoff">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="空重" [(ngModel)]="vm.planeEmpty">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="最大速度(Km/h)" [(ngModel)]="vm.planeBigSpeed">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="巡航速度(Km/h)" [(ngModel)]="vm.planeCruise">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="最大爬升率(米/秒)" [(ngModel)]="vm.planeClimb">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="航程(KM)" [(ngModel)]="vm.planeDistance">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="实用升限(米)" [(ngModel)]="vm.planeLimit">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="失速速度(Km/h)" [(ngModel)]="vm.planeStallspeed">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="最短起飞距离(米)" [(ngModel)]="vm.takeoffDistance">
    </md-input-container>
  </div>
  <div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="最短着落距离(米)" [(ngModel)]="vm.landDistance">
    </md-input-container>
  </div>