<div class="nav">
  <span style="padding-left:7px;">首页</span>
  <span>/</span>
  <span>用户管理</span>
  <span>/</span>
  <span>添加用户</span>
</div>
<div class="row" style="width:90%;margin:2% 5%;">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="col-sm-2 col-md-2 col-lg-2 control-label" style="text-align: right; margin-top: 6px; font-weight:normal;">用户名：</label>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <input type="text" class="form-control" [(ngModel)]="vm.Name" />
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="col-sm-2 col-md-2 col-lg-2 control-label" style="text-align: right; margin-top: 27px; font-weight:normal;">密码：</label>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <input type="text" style="margin-top: 20px;" class="form-control" [(ngModel)]="vm.Password" />
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="col-sm-2 col-md-2 col-lg-2 control-label" style="text-align: right; margin-top: 27px; font-weight:normal;">备注：</label>
        <div class="col-sm-10 col-md-10 col-lg-10">
          <input style="margin-top: 20px;" type="text" class="form-control" [(ngModel)]="vm.Note" />
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="col-sm-2 col-md-2 col-lg-2 control-label" style="text-align: right; margin-top: 27px; font-weight:normal;">地址：</label>
        <div class="col-sm-10 col-md-10 col-lg-10">
          <input style="margin-top: 20px;" type="text" class="form-control" [(ngModel)]="vm.Address" />
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-md-offset-6 col-lg-offset-6" style="margin-top: 15px;">
        <button type="button" class="mb-sm btn btn-danger" (click)="submitUsers()">提交</button>
        <a routerLink='../../adminstation'><button type="button" class="mb-sm btn btn-info">取消</button></a>
      </div>
    </div>
  </div>
</div>