<ul class="breadcrumb">
  <li>应急资源</li>
  <li>
    <a routerLink="/resource/group">应急队伍</a>
  </li>
  <li class="active">
    {{type?'查看':(pId?"编辑":"新增")}}
  </li>
</ul>
<md-card style="margin:0px;">
  <md-card-title> {{type?'查看':(pId?"编辑":"新增")}}应急队伍</md-card-title>
  <form #groupForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row-section">
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="队伍名称" required [(ngModel)]="vm.name" name="name" [readonly]="type">
      </md-input-container>
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="人数" type="number" min="0" required [(ngModel)]="vm.peopleNum" name="num" [readonly]="type">
      </md-input-container>
      <md-select class="row-margin" name="type" required placeholder="队伍类型" required style="width:300px;" [(ngModel)]="vm.type">
        <md-option *ngFor="let t of types" [value]="t.id">
          {{t.name}}
        </md-option>
      </md-select>
    </div>
    <div class="row-section">
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="主管部门" required [(ngModel)]="vm.depart" name="depart" [readonly]="type">
      </md-input-container>
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="负责人" required [(ngModel)]="vm.charge" name="charge" [readonly]="type">
      </md-input-container>
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="联系方式" required [(ngModel)]="vm.phone" name="phone" [readonly]="type">
      </md-input-container>
    </div>
    <div class="row-section">
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="经度" type="number" step="0.000001" required [(ngModel)]="vm.longtitude" name="longtitude" [readonly]="type">
      </md-input-container>
      <md-input-container style="width:300px;" class="row-margin">
        <input mdInput placeholder="纬度" type="number" step="0.000001" required [(ngModel)]="vm.latitude" name="latitude" [readonly]="type">
      </md-input-container>
    </div>
    <div>
      <md-input-container style="width:600px;" class="row-margin">
        <textarea mdInput placeholder="队伍描述" rows="3" [(ngModel)]="vm.desc" required name="desc" [readonly]="type"></textarea>
      </md-input-container>
    </div>
    <md-card-actions>
      <div class="centerText">
        <button md-raised-button color="accent" type="reset" *ngIf="!type">重置</button>
        <a routerLink="/resource/group" md-raised-button color="warn">取消</a>
        <button md-raised-button color="primary" type="submit" [disabled]="!groupForm.valid" *ngIf="!type">提交</button>
      </div>
    </md-card-actions>
  </form>
</md-card>