<div class="row-section">
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="数量" [(ngModel)]="vm.num" type="number" min="0">
    </md-input-container>
    <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="臂长" [(ngModel)]="vm.armLength">
    </md-input-container>
     <md-input-container style="width:300px;" class="row-margin">
      <input mdInput placeholder="喷洒速度" [(ngModel)]="vm.pensaSpeed">
    </md-input-container>
</div>