<h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a>{{"globalressystem"|translate}}</a>
        </li>
        <li>
            <span>{{"emergencyplan"|translate}}</span>
        </li>
    </ul>
</h3>
<div class="page-container bg-fff" ng-controller="allinformationCtrl as tree">
    <div class="row" style="min-height: 600px;">
        <div class="col-lg-3" style="background-color: white; overflow: hidden;">
            <div class="panel panel-primary" style="">
                <div class="panel-heading">{{"orginstitution"|translate}}</div>
                <div class="panel-body" style="overflow:hidden;">
                    <span ng-if="tree.doing_async">...loading...</span>
                    <abn-tree tree-data="tree.my_data" tree-control="tree.my_tree" on-select="tree.my_tree_handler(branch)"  initial-selection="Granny Smith"></abn-tree>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9" style="background-color: white; border-radius: 10px;">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <span class="col-lg-5" style="padding: 0px; margin: 0px;"> {{"teamname"|translate}}：</span>
                    <span class="col-lg-7" style="padding: 0px; margin: 0px;"><input type="text" class="form-control " /></span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <span class="col-lg-5" style="padding: 0px; margin: 0px;"> {{"teamlevel"|translate}}：</span>
                    <span class="col-lg-7" style="padding: 0px; margin: 0px;">
                         <select name="account" class="form-control">
                             <option>国家级</option>
                             <option>省级</option>
                             <option>市级</option>
                             <option>县级</option>
                             <option>基层级</option>
                             <option>企业级</option>
                         </select>
                    </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <span class="col-lg-5" style="padding: 0px; margin: 0px;"> {{"teamattribute"|translate}}：</span>
                    <span class="col-lg-7" style="padding: 0px; margin: 0px;">
                         <select name="account" class="form-control">
                             <option>专业应急救援队伍</option>
                             <option>兼职应急救援队伍</option>
                             <option>志愿者应急救援队伍</option>
                         </select>
                    </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <span class="col-lg-5" style="padding: 0px; margin: 0px;"> {{"teamgeneral"|translate}}：</span>
                    <span class="col-lg-7" style="padding: 0px; margin: 0px;">
                          <select name="account" class="form-control">
                             <option>消防</option>
                             <option>工艺</option>
                             <option>医疗</option>
                         </select></span>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <span class="col-lg-5" style="padding: 0px; margin: 0px;"> {{"teamtype"|translate}}：</span>
                    <span class="col-lg-7" style="padding: 0px; margin: 0px;">
                        <select name="account" class="form-control">
                             <option>消防队</option>
                             <option>救援队</option>
                             <option>医疗队</option>
                            <option>后勤应急车队</option>
                            <option>保安应急车队</option>
                         </select>
                    </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <span class="col-lg-5" style="padding: 0px; margin: 0px;"> {{"unitname"|translate}}：</span>
                    <span class="col-lg-7" style="padding: 0px; margin: 0px;"><input type="text" class="form-control " /></span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <span class="col-lg-5" style="padding: 0px; margin: 0px;"> {{"startupdate"|translate}}：</span>
                    <span class="col-lg-7" style="padding: 0px; margin: 0px;"><input type="date" class="form-control " /></span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <span class="col-lg-5" style="padding: 0px; margin: 0px;"> {{"endupdate"|translate}}：</span>
                    <span class="col-lg-7" style="padding: 0px; margin: 0px;"><input type="date" class="form-control " /></span>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-lg-10">
                    <button class="btn btn-danger" >{{"singledelete"|translate}}</button>
                    <button type="submit" class="btn btn-info">{{'edit'|translate}}</button>
                    <button class="btn btn-info" >{{"print"|translate}}</button>
                    <button type="submit" class="btn btn-info">{{'import'|translate}}</button>
                </div>
                <div class="col-lg-2 text-right">
                    <button class="btn btn-danger" ng-click="cancel()">{{"add"|translate}}</button>
                    <button type="submit" class="btn btn-info">{{'export'|translate}}</button>
                </div>
            </div>
            <div class="panel panel-default"style="margin-top: 5px;" >
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-center" style="margin-top: 10px;">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{{"num"|translate}}</th>
                                <th>{{"teamname"|translate}}</th>
                                <th>{{"teamtype"|translate}}</th>
                                <th>{{"unitname"|translate}}</th>
                                <th>{{"totalnumber"|translate}}</th>
                                <th>{{"teamattribute"|translate}}</th>
                                <th>{{"updatetime"|translate}}</th>
                            </tr>
                            </thead>
                            <tbody style="text-align: left;">
                            <tr>
                                <td>
                                    <label>
                                        <input  type="checkbox" style="margin-top:0px;">
                                    </label>
                                </td>
                                <td>1</td>
                                <td>消防队</td>
                                <td>消防队救援队</td>
                                <td>伊拉克公司（伊拉克）</td>
                                <td>45</td>
                                <td>专业应急救援队伍</td>
                                <td>2015-10-24</td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input  type="checkbox" style="margin-top:0px;">
                                    </label>
                                </td>
                                <td>2</td>
                                <td>医疗队</td>
                                <td>医疗队救援队</td>
                                <td>伊拉克公司（伊拉克）</td>
                                <td>101</td>
                                <td>专业应急救援队伍</td>
                                <td>2015-10-24</td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input  type="checkbox" style="margin-top:0px;">
                                    </label>
                                </td>
                                <td>3</td>
                                <td>保安应急车队</td>
                                <td>消防队救援队</td>
                                <td>伊拉克公司（伊拉克）</td>
                                <td>10</td>
                                <td>兼职应急救援队伍</td>
                                <td>2015-10-24</td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input  type="checkbox" style="margin-top:0px;">
                                    </label>
                                </td>
                                <td>4</td>
                                <td>后勤应急车队</td>
                                <td>消防队救援队</td>
                                <td>伊拉克公司（伊拉克）</td>
                                <td>15</td>
                                <td>专业应急救援队伍</td>
                                <td>2015-10-24</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
