<h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a>{{"persondynamics"|translate}}</a>
        </li>
        <li>
            <span>{{"fastfill"|translate}}</span>
        </li>
    </ul>
</h3>
<div class="page-container bg-fff" >
    <div class="row" style="min-height: 600px;">
        <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: white; border-radius: 10px;">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <span class="col-lg-3" style="padding: 0px; margin: 0px; line-height: 30px;"> {{"choiceproject"|translate}}：</span>
                    <span class="col-lg-9" style="padding: 0px; margin: 0px;">
                        <select name="account" class="form-control">
                             <option>伊拉克应急项目一</option>
                             <option>伊拉克紧急事务</option>
                         </select>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <span class="col-lg-3" style="padding: 0px; margin: 0px; line-height: 30px;"> {{"importexcel"|translate}}：</span>
                    <span class="col-lg-9" style="padding: 0px; margin: 0px;">
                         <button type="button" class="btn btn-sm btn-info" title="">
                             {{'import'|translate}}
                          </button>
                         <button type="button" class="btn btn-sm btn-info" title="">
                             {{'batchimport'|translate}}
                          </button>
                        &nbsp;&nbsp;&nbsp; {{"importdownload"|translate}}
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <span style="line-height: 30px;">&nbsp;&nbsp;&nbsp;{{"notestaff"|translate}}</span>
                </div>
            </div>
            <div class="panel panel-default"style="margin-top: 5px;" >
                <div class="panel-heading">
                    <span>{{"currentstafflist"|translate}}</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-center" style="margin-top: 10px;">
                            <thead>
                            <tr>
                                <th>{{"num"|translate}}</th>
                                <th style="text-align: center;">{{"staffname"|translate}}</th>
                                <th style="text-align: center;">{{"sex"|translate}}</th>
                                <th style="text-align: center;">{{"projectname"|translate}}</th>
                                <th style="text-align: center;">{{"stafftype"|translate}}</th>
                                <th style="text-align: center;">{{"idnum"|translate}}</th>
                                <th style="text-align: center;">{{"passportnum"|translate}}</th>
                                <th style="text-align: center;">{{"bothbirthday"|translate}}</th>
                                <th style="text-align: center;">{{"visaperiod"|translate}}</th>
                                <th style="text-align: center;">{{"workplace"|translate}}</th>
                                <th style="text-align: center;">{{"localphone"|translate}}</th>
                                <th style="text-align: center;">{{"email"|translate}}</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>邝立坤</td>
                                <td>男</td>
                                <td>伊拉克应急项目一</td>
                                <td>正式</td>
                                <td>610113198503240000</td>
                                <td>E85969462</td>
                                <td>1985-03-24</td>
                                <td>2018-05-01</td>
                                <td>中海石油伊拉克有限公司</td>
                                <td>0086-10-84523856</td>
                                <td>kuanglikun@cnooc.com</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>吴玉蕊</td>
                                <td>女</td>
                                <td>伊拉克应急项目一</td>
                                <td>正式</td>
                                <td>610113198708110000</td>
                                <td>E85967582</td>
                                <td>1987-08-11</td>
                                <td>2018-05-01</td>
                                <td>中海石油伊拉克有限公司</td>
                                <td>0086-10-84521204</td>
                                <td>wuyurui@cnooc.com</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>刘颖</td>
                                <td>女</td>
                                <td>伊拉克应急项目一</td>
                                <td>正式</td>
                                <td>610113198902160000</td>
                                <td>E18569993</td>
                                <td>1989-02-16</td>
                                <td>2018-05-01</td>
                                <td>中海石油伊拉克有限公司</td>
                                <td>0086-10-84521204</td>
                                <td>liuying@cnooc.com</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>段成刚</td>
                                <td>男</td>
                                <td>伊拉克应急项目一</td>
                                <td>正式</td>
                                <td>610113198503270000</td>
                                <td>E18578843</td>
                                <td>1985-03-27</td>
                                <td>2018-05-01</td>
                                <td>中海石油伊拉克有限公司</td>
                                <td>0086-10-84521204</td>
                                <td>duanchenggang@cnooc.com</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
