<h2 md-dialog-title>添加专家</h2>
<md-dialog-content>
  <md-card flex style="margin:0px;margin-top:20px;">
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
      <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
                          <span class="md-title">专家列表</span>
      </span>
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)"
        flex>
      </td-search-box>
    </div>
    <md-divider></md-divider>
    <td-data-table #dataTable [data]="rowsTemp" [columns]="columns" [selectable]="true" [multiple]="true" [sortable]="true" [sortBy]="sortBy"
      [sortOrder]="sortOrder" (sortChange)="sort($event)" [(ngModel)]="selectedRows">
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>无数据显示.</h3>
    </div>
    <td-paging-bar #pagingBar [pageSizes]="[10, 20, 50]" [total]="filteredTotal" (change)="page($event)">
      <span td-paging-bar-label hide-xs>每页显示:</span> {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </md-card>
</md-dialog-content>
<md-dialog-actions>
  <button md-button md-dialog-close>取消</button>
  <button md-button (click)="submit()" [disabled]="selectedRows.length == 0">确定</button>
</md-dialog-actions>