<ul class="breadcrumb">
  <li>应急物资</li>
  <li class="active">船舶类</li>
</ul>

<div style="padding:20px;" fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutGap="20px">
      <button mat-raised-button color='primary' routerLink="/home/addship">增加</button>
      <button mat-raised-button color='primary' (click)="downloadFile('../../../assets/TempFiles/plan.xlsx')">导入</button>
      <button mat-raised-button color='primary'>导出</button>
      <button mat-raised-button color='primary' (click)="downloadFile('../../../assets/TempFiles/plan.xlsx')">模版</button>
    </div>
    <mat-form-field style="width:300px">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="查询">
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="classification">
        <mat-header-cell *matHeaderCellDef> 船名 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.classification}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> 船舶类型 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="depart">
        <mat-header-cell *matHeaderCellDef> 所属单位</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.depart}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="length">
        <mat-header-cell *matHeaderCellDef> 船长</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.length}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="width">
        <mat-header-cell *matHeaderCellDef> 型宽</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.width}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="height">
        <mat-header-cell *matHeaderCellDef> 型深</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.height}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loaddraugh">
        <mat-header-cell *matHeaderCellDef> 吃水</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.loaddraugh}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="parameter">
        <mat-header-cell *matHeaderCellDef> 技术参数</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.parameter}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> 操作 </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div style="width:130px;">
            <a mat-mini-fab color="primary" matTooltip="查看详情" routerLink="/resource/1/ship/{{row.id}}">
              <mat-icon>search</mat-icon>
            </a>
            <a mat-mini-fab color="primary" matTooltip="编辑" routerLink="/resource/ship/edit/{{row.id}}">
              <mat-icon>edit</mat-icon>
            </a>
            <a mat-mini-fab color="warn" matTooltip="删除" (click)="delete(row.id)">
              <mat-icon>delete</mat-icon>
            </a>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div [style.display]="dataSource.data.length == 0 ? '' : 'none'" style="text-align: center">
      <h3>无数据显示.</h3>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
